<div
  class={{cn
    "boxel-cta-block"
    (concat "boxel-cta-block--" this.theme)  
    (if this.isDisabled "boxel-cta-block--disabled")
    (if this.isMemorialized "boxel-cta-block--memorialized")
    (if @stepNumber "boxel-cta-block--has-step")
  }}
  data-test-boxel-cta-block
>
  {{!-- Not accounting for 0 as a step number --}}
  {{#if @stepNumber}}
    <div class="boxel-cta-block__step" data-step={{@stepNumber}} data-test-boxel-cta-block-step={{@stepNumber}}>
      <span class="boxel-sr-only">Step {{@stepNumber}}</span> 
    </div>
  {{/if}}
  {{!-- 
    We cannot pass splattribute classes to components in the component helper: 
    https://github.com/emberjs/ember.js/issues/18402 
  --}}
  {{#if (and (has-block "default") this.isDefault)}}
    {{yield 
      (hash 
        ActionButton=(component 
          "boxel/cta-block/button" 
          kind="primary" 
          ctaClass="boxel-cta-block__action-button"
        )
        InfoArea=(component 
          "boxel/cta-block/area" 
          ctaClass="boxel-cta-block__info-area"
        )
      )
      to="default"
    }}
  {{else if (and (has-block "disabled") this.isDisabled)}}
    {{yield
      (hash 
        ActionButton=(component 
          "boxel/cta-block/button" 
          kind="primary" 
          disabled=true 
          ctaClass="boxel-cta-block__action-button"
        )
      )
      to="disabled"
    }}
  {{else if (and (has-block "in-progress") this.isInProgress)}}
    {{yield
      (hash 
        ActionButton=(component 
          "boxel/cta-block/button" 
          kind="primary" 
          loading=true 
          ctaClass="boxel-cta-block__action-button"
        )
        CancelButton=(component 
          "boxel/cta-block/button" 
          kind="secondary-dark" 
          ctaClass="boxel-cta-block__cancel-button"
        )
        InfoArea=(component 
          "boxel/cta-block/area" 
          ctaClass="boxel-cta-block__info-area"
        )
      )
      to="in-progress"
    }}
  {{else if (and (has-block "memorialized") this.isMemorialized)}}
    {{!-- 
      if using ActionButton and ActionStatusArea together, the grid layout will put them at the exact same spot,
      causing a visual bug.
    --}}
    {{yield
      (hash 
        ActionButton=(component 
          "boxel/cta-block/button" 
          kind="secondary-light" 
          ctaClass="boxel-cta-block__action-button"
        )
        ActionStatusArea=(component 
          "boxel/cta-block/action-status-area"
          icon="checkbox-primary-checked"
        )
        InfoArea=(component 
          "boxel/cta-block/area" 
          ctaClass="boxel-cta-block__info-area"
        )
      )
      to="memorialized"
    }}
  {{/if}}

  <span class="boxel-cta-block__private-notice" data-test-boxel-cta-block-private-notice>Actions only visible to you</span>
  {{svg-jar "lock" class="boxel-cta-block__lock-icon" role="presentation"}}
</div>