<div
  class={{cn
    "boxel-cta-block"
    (concat "boxel-cta-block--" this.theme)  
    (if this.isDisabled "boxel-cta-block--disabled")
    (if this.layout.step "boxel-cta-block--has-step")
  }}>
  {{!-- note that with the current implementation, 2 digit & up numbers will not fit nicely. --}}
   <div class="boxel-cta-block__action" data-step={{if this.layout.step @stepNumber}}>
     {{#if this.layout.mainAction}}
       <Boxel::Button 
         @kind={{this.mainActionButtonKind}} 
         @disabled={{this.isDisabled}}
         @loading={{this.isInProgress}}
         {{on "click" this.mainAction}}
       >
         {{this.mainActionText}}
       </Boxel::Button>

     {{else if this.layout.mainActionDone}}
       {{svg-jar "checkbox-primary-checked" class="boxel-cta-block__done-icon"}}
       {{this.mainActionText}}
     {{/if}}
     {{#if this.layout.cancelAction}}
       <Boxel::Button class="boxel-cta-block__cancel-button" @kind={{this.cancelActionButtonKind}} {{on "click" this.cancelAction}}>
         {{this.cancelActionText}}
       </Boxel::Button>
     {{/if}}
   </div>

  {{!-- might be better to make these 2 the same layout property and yield if it has a block. --}}
  {{#if this.layout.locked}}
    <span class="boxel-cta-block__lock-text">
      Actions only visible to you
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  {{else if this.layout.statusView}}
    <span class="boxel-cta-block__lock-text">
      {{yield}}
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  {{/if}}
</div>