<div>
  {{#if this.layout.step}}
    <div>
      {{@stepNumber}}
    </div>
  {{/if}}

  {{#if this.layout.mainAction}}
  {{#if this.mainActionIsButton}}
    <button {{on "click" this.mainAction}}>
      {{this.mainActionButtonKind}}
      mainAction: {{this.mainActionText}}
    </button>
    {{else}}
    <div>
      mainAction: {{this.mainActionText}}
    </div>
  {{/if}}
  {{/if}}

  {{#if this.layout.cancelAction}}
    <button {{on "click" this.cancelAction}}>
      {{this.cancelActionButtonKind}}
      cancelAction: {{this.cancelActionText}}
    </button>
  {{/if}}

  {{#if this.layout.locked}}
    <div>locked</div>
  {{/if}}

  {{#if this.layout.statusView}}
    <div>Status view</div>
  {{/if}}
</div>