<div
  class={{cn
    "boxel-cta-block"
    (concat "boxel-cta-block--" this.theme)  
  }}>
  {{#if this.layout.step}}
    <div class="boxel-cta-block__step">
      {{@stepNumber}}
    </div>
  {{/if}}

   <div class="boxel-cta-block__action">
     {{#if this.layout.mainAction}}
     {{#if this.mainActionIsButton}}
       <Boxel::Button 
         @kind={{this.mainActionButtonKind}} 
         @disabled={{this.isDisabled}}
         {{on "click" this.mainAction}}
       >
         {{this.mainActionText}}
       </Boxel::Button>
       {{else}}
       <div>
         {{this.mainActionText}}
       </div>
     {{/if}}
     {{/if}}
     {{#if this.layout.cancelAction}}
       <Boxel::Button @kind={{this.cancelActionButtonKind}} {{on "click" this.cancelAction}}>
         {{this.cancelActionText}}
       </Boxel::Button>
     {{/if}}
   </div>

  {{#if this.layout.locked}}
    <span class="boxel-cta-block__lock-text">
      Actions only visible to you
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  {{else if this.layout.statusView}}
    <span class="boxel-cta-block__lock-text">
      {{yield}}
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  {{/if}}
</div>