<EmberTable @class="collection-table" as |t|>
  <t.head
    @columns={{@columns}}
    @sorts={{this.sorts}}
    @onUpdateSorts={{action (mut this.sorts)}}
    @class="collection-table__header"
  />
  {{!-- TODO: Make this a group by row --}}
  <h2 class="collection-table__title">{{@title}}</h2>
  <t.body
    @rows={{@collection}}
    @rowSelectionMode={{this.rowSelectionMode}}
    @onSelect={{action (mut this.selection)}}
    @selection={{this.selection}}
    @estimateRowHeight={{60}}
    @class="collection-table__body" as |b|
  >
    <b.row class={{if (or b.rowValue.picked b.rowValue.selected) "is-selected"}} as |r|>
      <r.cell as |cell column row cellMeta columnMeta|>
        {{#if (eq columnMeta.index 0)}}
          <button {{on "click" (fn this.togglePick row.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="select">
            {{#if row.picked}}
              {{svg-jar "icon-circle-selected" class="collection-editor__select--selected" width="16px" height="16px"}}
            {{else}}
              {{svg-jar "icon-circle" width="16px" height="16px"}}
            {{/if}}
          </button>
        {{/if}}
        <div class={{if (eq (add columnMeta.index 1) b.cells.length) "last-col"}}>
          <Boxel>
            <BoxelHighlight {{on "click" (fn this.itemSelect row.id)}} @on={{or row.picked row.selected}} @class="collection-table__highlight" />
            {{#if (eq (add columnMeta.index 1) b.cells.length)}}
              <BoxelActions @displayHighlightActions={{and row.selected (not row.picked)}} />
            {{/if}}
            <div class="collection-table__cell {{if row.picked "row-group-selected"}} {{if row.selected "row-selected"}}">
              <div class="collection-table__cell-value">
                {{cell}}
              </div>
            </div>
          </Boxel>
          {{#if (eq (add columnMeta.index 1) b.cells.length)}}
            <div class="collection-table__remove-sticky-container">
              <button {{on "click" (fn this.removeItem row.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="remove">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
            </div>
          {{/if}}
        </div>
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>