<div class="collection-isolated">
  <header class="collection-isolated-header">
    <h1 class="collection-isolated-header__title">{{@model.title}} ({{this.collection.length}})</h1>
    <button class="collection-isolated__btn more" aria-label="more options" />
    <button {{on "click" this.close}} class="collection-isolated__btn contract" aria-label="close collection view" />
  </header>
  <section class="collection-isolated-section">
    <div class="collection-isolated-section__actions-row">
      <div class="collection-editor__select collection-editor__select--isolated">
        <button {{on "click" this.toggleSelectAll}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="Select all" data-test-collection-select-all>
          {{#if this.selectedAll}}
            {{svg-jar "icon-circle-selected" class="collection-editor__select--selected" width="16px" height="16px"}}
          {{else}}
            {{svg-jar "icon-circle" class=(if this.pickedItems "collection-editor__select--partial") width="16px" height="16px"}}
          {{/if}}
        </button>
        <div class="collection-editor__select-all collection-editor__select-all--isolated" data-test-collection-selected-count>
          {{#if this.pickedItems}}
            {{this.pickedItems}} selected
          {{else}}
            Select all
          {{/if}}
        </div>
      </div>
      <div class="collection-isolated-section__filters">
        <div class="collection-isolated-section__btn-trio">
          <button class="collection-isolated__btn sort" aria-label="sort"></button>
          <button class="collection-isolated__btn filter" aria-label="filter"></button>
          <button class="collection-isolated__btn search" aria-label="search"></button>
        </div>
      </div>
      <div class="collection-isolated-section__view-formats">
        <div class="collection-isolated-section__btn-trio view-selector">
          <button {{on "click" (fn this.changeFormat "list")}} class="collection-isolated__btn list {{if (eq this.format "list") "selected" "unselected"}}" aria-label="view as list"></button>
          <button {{on "click" (fn this.changeFormat "grid")}} class="collection-isolated__btn grid {{if (eq this.format "grid") "selected" "unselected"}}" aria-label="view as grid"></button>
          <button {{on "click" (fn this.changeFormat "table")}} class="collection-isolated__btn table {{if (eq this.format "table") "selected" "unselected"}}" aria-label="view as table"></button>
        </div>
      </div>
    </div>
    <div class="collection-isolated-grid">
      {{#each this.collection as |item i|}}
        <div class="collection-isolated-grid__item {{if (eq this.format "list") "collection-editor__select collection-editor__select--full-width"}}">
          {{#if (eq this.format "list")}}
            <button {{on "click" (fn this.togglePick item.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="select" data-test-collection-select-item={{i}}>
              {{#if item.picked}}
                {{svg-jar "icon-circle-selected" class="collection-editor__select--selected" width="16px" height="16px"}}
              {{else}}
                {{svg-jar "icon-circle" width="16px" height="16px"}}
              {{/if}}
            </button>
          {{/if}}
          <Boxel>
            <BoxelHighlight @on={{or item.selected item.picked}} {{on "click" (fn this.itemSelect item.id)}} data-test-collection-item={{i}} />
            <BoxelActions @format={{this.format}} @displayHighlightActions={{item.selected}} data-test-collection-item-actions={{i}} />
            <CollectionItem @item={{item}} @mode="edit" @format={{this.format}} @isolated={{true}} />
          </Boxel>
          {{#if (eq this.format "grid")}}
            <div class="collection-editor__btn-group collection-editor__btn-group--isolated">
              <button {{on "click" (fn this.togglePick item.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="select" data-test-collection-select-item={{i}}>
                {{#if item.picked}}
                  {{svg-jar "icon-circle-selected" class="collection-editor__select--selected" width="16px" height="16px"}}
                {{else}}
                  {{svg-jar "icon-circle" width="16px" height="16px"}}
                {{/if}}
              </button>
              <button {{on "click" (fn this.removeItem item.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="remove">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
            </div>
          {{/if}}
          {{#if (eq this.format "list")}}
            <button {{on "click" (fn this.removeItem item.id)}} class="collection-editor__select-btn collection-editor__select-btn--isolated" aria-label="remove">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </section>
</div>
