{{#if (eq @mode "edit")}}
  {{#if @field.isCollection}}
    {{#if (eq @field.type "genres")}}
      <Collection @mode={{@mode}} @format="tagList" @field={{@field}} @fieldName={{@fieldName}} />
    {{else if (eq @field.type "photos")}}
      <Collection @mode={{@mode}} @format="grid" @component="photo" @field={{@field}} @fieldName={{@fieldName}} />
    {{else if (eq @field.type "actors")}}
      <Collection @mode={{@mode}} @format="list" @component="actor" @field={{@field}} @fieldName={{@fieldName}} />
    {{/if}}
  {{else}}
    <label class="edit-field edit-field--{{dasherize @fieldName}}-field" data-test-edit-field="form-editors">
      <div class="edit-field__title">{{humanize (dasherize @fieldName)}}</div>
      <div class="edit-field__value">
        {{#if (eq @field.type "textarea")}}
          <Textarea @type={{@field.type}} @rows="4" @class="cs-input cs-textarea {{@class}}" @value={{@field.value}} />
        {{else if (eq @field.type "dropdown")}}
          <Dropdown @options={{@field.options}} @selected={{@field}} @searchField="value" />
        {{else if (eq @field.type "time")}}
          <div class="field-group">
            <Input @class="cs-input {{@class}}" @value={{@field.hours}} /> hours
            <Input @class="cs-input {{@class}}" @value={{@field.minutes}} /> minutes
          </div>
        {{else if (eq @field.type "image")}}
          <div class="image-editor">
            <div class="image-editor__item">
              <img src="/assets/images/{{@field.value}}" alt="{{@field.altText}}" width="{{@field.width}}" height="{{@field.height}}">
              <div class="image-editor__title">{{@field.title}}</div>
              <div class="image-editor__created">Created {{@field.created}}</div>
            </div>
            <button class="image-editor__remove-btn" aria-label="remove">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
          </div>
        {{else}}
          <Input @type={{@field.type}} @class="cs-input {{@class}} {{if @field.type (concat "cs-input--" @field.type)}}" @value={{@field.value}} />
        {{/if}}
      </div>
    </label>
  {{/if}}
{{else}}
  <div class="view-field view-field--{{dasherize @fieldName}}-field {{if @field.hideLabel "view-field--no-title"}}" data-test-view-field>
    {{#unless @field.hideLabel}}
      <div class="view-field__title">{{humanize (dasherize @fieldName)}}</div>
    {{/unless}}
    <div class="view-field__value">
      {{#if @field.isCollection}}
        {{#if (eq @field.type "genres")}}
          <Collection @format="tagList" @field={{@field}} @fieldName={{@fieldName}} />
        {{else if (eq @field.type "photos")}}
          <Collection @format="grid" @field={{@field}} @fieldName={{@fieldName}} />
        {{else if (eq @field.type "actors")}}
          <Collection @format="list" @field={{@field}} @fieldName={{@fieldName}} />
        {{/if}}
      {{else}}
        {{#if (eq @field.type "date")}}
          {{moment-format @field.value "MMMM DD, YYYY" "YYYY-MM-DD"}}
        {{else if (eq @field.type "time")}}
          {{@field.hours}}h {{@field.minutes}}m
        {{else if (eq @field.type "image")}}
          <img src="/assets/images/{{@field.value}}" alt="{{@field.altText}}" width="{{@field.width}}" height="{{@field.height}}">
        {{else}}
          {{@field.value}}
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}