<li role="button" {{on "click" (fn @sort @column @direction)}} class="{{if (and (eq @column @sortColumn) (eq @direction @sortDirection)) "media-collection__sort-dropdown__active"}}">
  {{@column.name}}
  {{#if (eq @column.sortType 'numeric')}}
    {{#if (eq @direction 'asc')}}
      1 ⭢ 9
    {{else}}
      9 ⭢ 1
    {{/if}}
  {{else}}
    {{#if (eq @direction 'asc')}}
      A ⭢ Z
    {{else}}
      Z ⭢ A
    {{/if}}
  {{/if}}

</li>

