<footer class={{cn
    "action-chin"
    action-chin--light=this.isMemorializedMode
    action-chin--dark=this.isDataEntryMode
  }}
  ...attributes
>
  <Boxel::Button
    {{on "click" (optional @onClickButton)}}
    @primary={{this.isDataEntryMode}}
    @disabled={{@disabled}}
  >
    {{@buttonText}}
  </Boxel::Button>
  <span class="action-chin__lock-text">
    Actions only visible to you
    {{svg-jar "lock" width="12px" height="12px"}}
  </span>
</footer>
