<div class="event-edit">
  <div class="event-edit--container">
    <AnimatedContainer>
      <div class="event-edit--outer {{if this.model.selected "selected"}}">
        <div class="event-edit--container-content">
          <div><span>Editing:</span> {{this.model.constructor.modelName}} Card</div>
          {{! template-lint-configure no-nested-interactive false}}
          <ViewModeNav @model={{this.model}} @viewGridPage={{action this.viewGridPage}}/>
        </div>

        {{#animated-value this.model use=this.trayAnimation key="id" group="tray" as |card|}}
          <div class="event-edit--tray {{if card.selected "selected"}}">
            <div class="event-edit--inner">
              <AnimatedContainer>
                {{#animated-value card key="id" group=(concat "card-" card.id) use=this.cardTransition}}
                  {{!-- Card content --}}
                  <div class="event-edit-card event-edit-card-{{card.id}}">
                    {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
                    <AnimatedContainer>
                      {{#animated-value card key="id" group=(concat "image-" card.id) use=this.imageTransition}}
                        <div class="event-edit-image" style={{css-url "background-image" card.imageUrl}}></div>
                      {{/animated-value}}
                    </AnimatedContainer>
                    <AnimatedContainer class="event-edit-details">
                      {{#animated-value card key="id" group=(concat "header-" card.id) use=this.headerTransition}}
                        <div>
                          <div class="event-edit-details--header">
                            <div class="event-edit-date">{{moment-format card.datetime "ddd, MMM Do ha"}}</div>
                            <AnimatedContainer>
                              {{#animated-value card group="title" use=this.tweenTitle}}
                                <div class="event-edit-title">{{card.title}}</div>
                              {{/animated-value}}
                            </AnimatedContainer>
                          </div>
                          <div>
                            <div class="event-edit-location">{{card.location}}</div>
                            <div class="event-edit-price">{{card.price}}</div>
                          </div>
                        </div>
                      {{/animated-value}}
                    </AnimatedContainer>
                    <AnimatedContainer>
                      {{#animated-value card group=(concat "body-" card.id) use=this.bodyTransition}}
                        <div class="event-view--main">
                          <div class="event-view--info-group">
                            {{!-- <TextField @label="Title" @value={{card.title}} @required={{true}} /> --}}
                            <BoxelField @value={{card.title}} @fieldName="title" @label="Title" @model={{card}} @mode="edit" @transition={{this.fieldTransition}}/>
                          </div>
                          {{!-- <div class="event-view--info-group">
                            <DatePicker @label="Date & Time" @selected={{card.datetime}} @required={{true}} />
                          </div> --}}
                          <div class="event-view--info-group">
                            <BoxelField @value={{card.location}} @fieldName="location" @label="Location" @model={{card}} @mode="edit" @transition={{this.fieldTransition}}/>
                          </div>
                          <div class="event-view--info-group">
                            <BoxelField @value={{card.description}} @fieldName="description" @label="Description" @model={{card}} @mode="edit" @transition={{this.fieldTransition}}/>
                          </div>
                          <div class="event-view--info-group">
                            <BoxelField @value={{card.body}} @componentName="text-area" @fieldName="body" @label="Body" @model={{card}} @mode="edit" @transition={{this.fieldTransition}}/>
                          </div>
                        </div>
                      {{/animated-value}}
                    </AnimatedContainer>
                  </div>
                  {{!-- End of card content --}}
                {{/animated-value}}
              </AnimatedContainer>
            </div>
          </div>
        {{/animated-value}}

      </div>
    </AnimatedContainer>
  </div>
</div>