<div class="event-edit">
  <div class="event-edit--container">
    <AnimatedContainer>
      <div class="event-edit--outer {{if this.model.selected "selected"}}">
        <div class="event-edit--container-content">
          <div><span>Editing:</span> {{this.model.constructor.modelName}} Card</div>
          {{! template-lint-configure no-nested-interactive false}}
          <button {{action "viewGridPage"}}>Done</button>
        </div>

        {{#animated-value this.model use=this.trayAnimation key="id" group="tray" as |card|}}
          <div class="event-edit--tray {{if card.selected "selected"}}">
            <div class="event-edit--inner">
              <AnimatedContainer>
                {{#animated-value card key="id" group=(concat "card-" card.id) use=this.cardTransition}}
                  {{!-- Card content --}}
                  <div class="event-edit-card event-edit-card-{{card.id}}">
                    {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
                    <AnimatedContainer>
                      {{#animated-value card key="id" group=(concat "image-" card.id) use=this.imageTransition}}
                        <div class="event-edit-image" style={{css-url "background-image" card.imageUrl}}></div>
                      {{/animated-value}}
                    </AnimatedContainer>
                    <AnimatedContainer class="event-edit-details">
                      {{#animated-value card key="id" group=(concat "header-" card.id) use=this.headerTransition}}
                        <div>
                          <div class="event-edit-details--header">
                            <div class="event-edit-date">{{card.date}}</div>
                            <AnimatedContainer>
                              {{#animated-value card group="title" use=this.tweenTitle}}
                                <div class="event-edit-title">{{card.title}}</div>
                              {{/animated-value}}
                            </AnimatedContainer>
                          </div>
                          <div>
                            <div class="event-edit-location">{{card.location}}</div>
                            <div class="event-edit-price">{{card.price}}</div>
                          </div>
                        </div>
                      {{/animated-value}}
                    </AnimatedContainer>
                    <AnimatedContainer>
                      {{#animated-value card group=(concat "body-" card.id) use=this.bodyTransition}}
                        <div class="event-edit--main">
                          <div class="event-edit--info-group">
                            <div class="label">Date & Time</div>
                            <div>{{card.datetime}}</div>
                          </div>
                          <div class="event-edit--info-group">
                            <div class="label">Location</div>
                            <div>{{card.address}}</div>
                          </div>
                          <div class="event-edit--info-group">
                            <div class="label">Description</div>
                            <div>{{card.description}}</div>
                          </div>
                        </div>
                      {{/animated-value}}
                    </AnimatedContainer>
                  </div>
                  {{!-- End of card content --}}
                {{/animated-value}}
              </AnimatedContainer>
            </div>
          </div>
        {{/animated-value}}
      </div>
    </AnimatedContainer>

    <div class="right-edge--container">
      <div class="right-edge">
        <div class="right-edge--title">
          {{this.model.constructor.modelName}} Card
        </div>
        <div class="right-edge--properties">
          <div>Properties:</div>
          <div>
            <label>Configure</label>
            <input type="text">
          </div>
          <div>
            <label>Configure</label>
            <input type="text">
          </div>
          <div>
            <label>Configure</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>