<section>
  <h2 class="card-catalog--grid-title">Events</h2>
  <p class="card-catalog--grid-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <div class="card-catalog--grid">
    {{#each @model as |card|}}
      <AnimatedContainer>
        {{#animated-value card watch="selected" use=this.trayAnimation key="id" group="tray" as |card|}}
          <div class="event-card-container {{if card.selected "selected"}}" role="button" {{on "mouseenter" (action "select" card.data.id)}} {{on "mouseleave" (action "unselect" card.data.id)}}>
            <div class="event-card-container--content">
              <div>{{card.constructor.modelName}} Card</div>
              {{! template-lint-configure no-nested-interactive false}}
              <button {{action "viewEditPage" card}}>Edit</button>
            </div>

            {{#animated-value card watch="selected" key="id" group="content" use=this.holdContent as |card|}}
              {{! template-lint-configure no-nested-interactive false}}
              <div class="event-card-wrapper {{if card.selected "selected"}}" role="button" {{action "viewDetailPage" card}}>
                {{#animated-value card key="id" group=(concat "card-" card.id) as |card|}}
                  {{!-- Card content --}}
                  <div class="event-card event-card-{{card.id}}">
                    {{#animated-value card key="id" group=(concat "image-" card.id) use=this.imageTransition as |card|}}
                      {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
                      <div class="event-image" style={{css-url "background-image" card.imageUrl}}></div>
                    {{/animated-value}}
                    <div class="event-details">
                      {{#animated-value card key="id" group=(concat "header-" card.id) use=this.headerTransition as |card|}}
                        <div>
                          <div class="event-details--header">
                            <div class="event-date">{{moment-format card.datetime "MMMM D, YYYY hA"}}</div>
                            {{#animated-value card group="title" use=this.tweenTitle}}
                              <div class="event-title">{{card.title}}</div>
                            {{/animated-value}}
                          </div>
                          <div>
                            <div class="event-location">{{card.location}}</div>
                            <div class="event-price">{{card.price}}</div>
                          </div>
                        </div>
                      {{/animated-value}}
                    </div>
                    {{#animated-value card group=(concat "body-" card.id)}}
                      <div class="event--main">
                      </div>
                    {{/animated-value}}
                  </div>
                  {{!-- End of card content --}}
                {{/animated-value}}
              </div>
            {{/animated-value}}
          </div>
        {{/animated-value}}
      </AnimatedContainer>
    {{/each}}
  </div>
</section>