<div class="events-view">
  <AnimatedContainer class="events-view--container" {{action "viewGridPage"}}>

    {{!-- Tray --}}
    {{#animated-value this.model key="id" group="card-tray" as |card|}}
      <div class="events-tray {{if card.selected "selected"}}">
        <div class="events-tray--content">
          <div>{{card.constructor.modelName}} Card</div>
          <button {{action "viewEditPage" card}}>Edit</button>
        </div>
      </div>
    {{/animated-value}}
    {{!-- End of Tray --}}

    {{!-- Card Container --}}
    {{#animated-value this.model key="id" group="card" use=this.cardTransition as |card|}}
      <div class="events-view-card--container">
        {{!-- Card --}}
        <div class="events-view-card events-view-card-{{card.id}}">
          <AnimatedContainer>
            {{#animated-value card key="id" group="image" use=this.imageTransition}}
              {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
              <div class="events-view-image" style={{css-url "background-image" card.imageUrl}}></div>
            {{/animated-value}}
          </AnimatedContainer>
          <AnimatedContainer class="events-view-details">
            {{#animated-value card key="id" group="header" use=this.headerTransition}}
              <div>
                <div class="events-view-details--header">
                  <div class="events-view-date">{{card.date}}</div>
                  <AnimatedContainer>
                    {{#animated-value card group="title" use=this.titleTransition}}
                      <div class="events-view-title">{{card.title}}</div>
                    {{/animated-value}}
                  </AnimatedContainer>
                </div>
                <div>
                  <div class="events-view-location">{{card.location}}</div>
                  <div class="events-view-price">{{card.price}}</div>
                </div>
              </div>
            {{/animated-value}}
          </AnimatedContainer>
          <AnimatedContainer>
            {{#animated-value card group="body" use=this.bodyTransition}}
              <div class="events-view--main">
                <div class="events-view--info-group">
                  <div class="label">Date & Time</div>
                  <div>{{card.datetime}}</div>
                </div>
                <div class="events-view--info-group">
                  <div class="label">Location</div>
                  <div>{{card.address}}</div>
                </div>
                <div class="events-view--info-group">
                  <div class="label">Description</div>
                  <div>{{card.description}}</div>
                </div>
              </div>
            {{/animated-value}}
          </AnimatedContainer>
        </div>
        {{!-- End of Card --}}
      </div>
    {{/animated-value}}
    {{!-- End of Card Container --}}

  </AnimatedContainer>
</div>