<ul class={{cn "boxel-menu" @class}} ...attributes>
  {{#if @items}}
    {{#each (compact @items) as |menuItem|}}
      {{#if (eq menuItem.type "divider")}}
        <hr class="boxel-menu__separator" data-test-boxel-menu-separator />
      {{else}}
        <li
          class={{cn
            "boxel-menu__item"
            boxel-menu__item--dangerous=menuItem.dangerous
            boxel-menu__item--has-icon=menuItem.icon
          }}
          data-test-boxel-menu-item
        >
          <a
            href="#"
            data-test-boxel-menu-item-text={{menuItem.text}}
            {{on "click" (fn this.invokeMenuItemAction menuItem.action)}}
          >
            {{#if menuItem.icon}}
              {{svg-jar
                menuItem.icon
                width=18
                height=18
                data-test-boxel-menu-item-icon=true
              }}
            {{/if}}
            {{menuItem.text}}
          </a>
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ul>