{{#if (eq this.target.currentRouteName "media-registry.item.versions")}}
  {{outlet}}
{{else}}
  <DetailTemplate>
    {{!-- Breadcrumbs --}}
    <Boxel::Breadcrumbs>
      <LinkTo @route="media-registry" @model={{@model.owner_id}} @class="breadcrumbs__item">
        <div class="breadcrumbs__item-label">Collection</div>
        <div class="breadcrumbs__item-title">Master Recordings</div>
      </LinkTo>
      {{#if @model.fromCollectionId}}
        <span class="breadcrumbs__carot" />
        <LinkTo @route="media-registry.collection.index" @model={{@model.fromCollectionId}} @class="breadcrumbs__item">
          <div class="breadcrumbs__item-label">Collection</div>
          <div class="breadcrumbs__item-title">{{titleize (humanize @model.fromCollectionId)}}</div>
        </LinkTo>
      {{/if}}
      {{#if (eq this.target.currentRouteName "media-registry.item.musical-work")}}
        <span class="breadcrumbs__carot" />
        <LinkTo @route="media-registry.item" @model={{@model.id}} @class="breadcrumbs__item">
          <div class="breadcrumbs__item-label">Master Detail</div>
          <div class="breadcrumbs__item-title">{{titleize @model.title}}</div>
        </LinkTo>
      {{/if}}
    </Boxel::Breadcrumbs>

    {{#if (eq this.target.currentRouteName "media-registry.item.musical-work")}}
      {{outlet}}
    {{else}}
      <MusicDetailCard
        @mode="view"
        @model={{@model}}
        @displayFullHeader={{true}}
      >
        <BoxelActions
          @class="media-collection__btn-overlay"
          @displayHighlightActions={{true}}
          @btnLeft="mode-btn"
          @btnLeftContent="Edit"
          @btnLeftAction={{this.transitionToEdit}}
          @btnRight="settings"
          @versionHistory={{true}}
        />
      </MusicDetailCard>
    {{/if}}

    {{!-- Sidebar --}}
    <aside class="item__sidebar">
      {{#if @model.collections.length}}
        <h3 class="item__sidebar-title">In These Collections</h3>
        <div class="item__sidebar-cards">
          {{#each @model.collections as |collection|}}
            <Card
              @mode="view"
              @model={{hash type="collection" id=collection.id title=collection.title}}
              @hasImage={{true}}
              @expandAction={{fn this.transitionToCatalog collection.id}}
            >
              <Boxel::CoverArt class="item__sidebar-covers" @size={{50}} @covers={{collection.selected_art}} />
              <div class="sidebar-related-card__count">
                <span class="sidebar-related-card__count__number">
                  {{collection.count}}
                </span>
                Masters
              </div>
            </Card>
          {{/each}}
        </div>
      {{/if}}
      {{#if @model.album}}
        <h3 class="item__sidebar-title">Related Products</h3>
        <div class="item__sidebar-cards">
          <Card
            @model={{this.album}}
            @expandAction={{this.transitionToProduct}}
            @mode="view"
          />
        </div>
      {{/if}}
      {{#if (and @model.musicalWork (not-eq this.target.currentRouteName "media-registry.item.musical-work"))}}
        <h3 class="item__sidebar-title">Related Works</h3>
        <div class="item__sidebar-cards">
          <Cards::MusicalWorkEmbedded @model={{@model.musicalWork}} @mode="view" />
        </div>
      {{/if}}
    </aside>

    {{#if (not-eq this.target.currentRouteName "media-registry.item.musical-work")}}
      {{!-- Edit modal --}}
      {{outlet}}
    {{/if}}
  </DetailTemplate>
{{/if}}