{{!-- 
anything that's used as a label does not have its semantics in a screenreader.
that seems ok, since you probably shouldn't make a form work as document hierarchy.
aria-labelledby seems friendlier to safari than the for element, but unsure about other browsers.
--}}
<label 
  class={{cn "boxel-custom-radio__label" (if this.focused this.focusedClass) (if @checked this.checkedClass)}} 
  ...attributes 
  for={{@id}} 
  {{!-- id={{concat "checkbox-label-for-" @id}} --}}
>
  <Input
    @type="radio"
    @id={{@id}} 
    @value={{or @value @id}} 
    @checked={{@checked}}
    name={{@name}}
    class="boxel-custom-radio__hidden-input" 
    {{!-- aria-labelledby={{concat "checkbox-label-for-" @id}} --}}
    {{on "change" (optional @onChange)}} 
    {{on "focusin" (fn (mut this.focused) true)}}
    {{on "focusout" (fn (mut this.focused) false)}}
  />
  {{yield}}
</label>