<Boxel::Thread class="cardflow">
  <:header>
    <Boxel::ThreadHeader
      class="cardflow__header"
      @title={{or this.thread.description this.thread.title}}
      @label={{this.thread.project}}
      @notifications={{if (eq this.thread.status "unread") (array "notif") null}}
      @participants={{this.participants}}
    />
  </:header>

  <:taskbar>
    <Taskbar
      @tasksRoute={{@tasksRoute}}
      @activeTasks={{@activeTasks}}
      @userTasks={{@userTasks}}
      @assignedTasks={{@assignedTasks}}
    />
  </:taskbar>

  <:content>
    {{#each @model.posts as |post|}}
      <Boxel::ThreadMessage
        @senderName={{post.sender.title}}
        @senderImage={{post.sender.imgURL}}
        @content={{post.content}}
        @datetime={{post.datetime}}
        @hasLogo={{eq post.participantType "bot"}}
      >
      </Boxel::ThreadMessage>
    {{/each}}

    {{!-- TODO: Extract component - Reply to message box --}}
    {{#if (includes @model.user.id @model.thread.participant_ids)}}
      <div class="cardflow__message">
        <div class="cardflow__message-icon__profile" style={{css-url "background-image" @model.user.imgURL}} />
        <Input @class="cardflow__reply-to field-renderer__input" @placeholder="Post a message to this thread"></Input>
      </div>
    {{/if}}
  </:content>

  <:sidebar>
    {{#if @model.workflow}}
      <Boxel::ProgressBox
        @title={{@model.workflow.title}}
        @status={{this.progressStatus}}
        @milestones={{@model.workflow.milestones}}
        @completedCount={{this.progress}}
      />
    {{/if}}

    <Boxel::ParticipantsBox>
      <:list>
        {{#if this.otherParticipants}}
          <Boxel::ParticipantList
            @participants={{this.otherParticipants}}
          />
        {{/if}}
        {{#if this.participatingOrgMembers}}
          <Boxel::ParticipantList
            @participants={{this.participatingOrgMembers}}
          />
        {{/if}}
      </:list>
    </Boxel::ParticipantsBox>
  </:sidebar>

</Boxel::Thread>