<li class="cardflow-action-card__list-item {{if @model.completed "completed"}} {{if @model.current "current"}}">
  <Boxel::IconButton {{on "click" this.setCompleted}} @class="cardflow-action-card__list-item--checkbox" />
  <div>
    <div class="cardflow-action-card__list-item--title">{{@model.title}}</div>
    {{#if (and @model.completed @model.description)}}
      <div>{{@model.description}}</div>
    {{/if}}
  </div>
  {{#if (and @model.completed @model.timestamp)}}
    <div>{{moment-format @model.timestamp "MMM D, h:mm A"}}</div>
  {{/if}}
</li>