<CardPlatter @class="next-steps next-steps--{{if @inlineBtnGroup "inline" "row"}}">
  <div class="next-steps__desc">
    <div class="next-steps__title">{{or @title "Next Steps"}}</div>
    <div class="next-steps__text">Visible only to you</div>
  </div>
  <div class="next-steps__btn-group">
    {{#if @steps.length}}
      {{#each @steps as |step|}}
        <PillButton @variant="primary" {{on "click" (optional step.action)}} @class="next-steps__pill-btn">{{or step.title step}}</PillButton>
      {{/each}}
    {{else}}
      <PillButton @variant="primary" @class="next-steps__pill-btn">Send Email Reminder</PillButton>
    {{/if}}
    {{#if @moreActions}}
      <Boxel::IconButton
        @icon="more-actions"
        @variant="secondary"
        class="next-steps__icon-btn"
        aria-label="Other actions"
      />
    {{/if}}
  </div>
</CardPlatter>