<Boxel::Thread ...attributes>
  <:header>
    <Boxel::ThreadHeader
      @title={{@title}}
      @expanded={{@expanded}}
      @toggleExpand={{@toggleExpand}}
    />
  </:header>

  <:content>
    <Boxel::DateDivider @date={{this.startTimestamp}} />
    {{#each @milestones as |milestone i|}}
      {{#let (or milestone.complete (lte i this.progress)) as |displayMilestone|}}
        <AnimatedContainer>
          {{#animated-if (and displayMilestone milestone.message) use=this.transition}}
            <div>
              <AnimatedContainer onInitialRender={{not milestone.complete}}>
                {{#animated-each milestone.message initialInsertion=(not milestone.complete) use=this.transition as |content i|}}
                  <Boxel::ThreadMessage
                    @name="Cardbot"
                    @hideName={{true}}
                    @imgURL={{@workflowBot.imgURL}}
                    @datetime={{milestone.datetime}}
                    @hideMeta={{gt i 0}}
                    @fullWidth={{content.component}}
                  >
                    {{#if content.component}}
                      {{!-- Sample component --}}
                      <Boxel::ActionContainer
                        @header={{milestone.title}}
                        @prompt="Milestone Action"
                        @incompleteActionLabel="Complete"
                        @completeActionLabel="Edit"
                        @isComplete={{milestone.complete}}
                        @onClickButton={{fn this.toggleComplete milestone}}
                      />
                    {{else}}
                      <p class="card-pay-workflow-thread__message">{{content}}</p>
                    {{/if}}
                  </Boxel::ThreadMessage>
                {{/animated-each}}
              </AnimatedContainer>
            </div>
          {{/animated-if}}
        </AnimatedContainer>

        <AnimatedContainer>
          {{#animated-if milestone.complete use=this.bannerTransition}}
            <Boxel::MilestoneBanner
              @title={{milestone.statusOnCompletion}}
              {{on "click" this.updateProgress}}
            />
          {{/animated-if}}
        </AnimatedContainer>

        <AnimatedContainer>
          {{#animated-if (and milestone.messageOnCompletion this.displayCompletionMessage) use=this.transition}}
            <Boxel::ThreadMessage
              @imgURL={{@workflowBot.imgURL}}
              @datetime={{milestone.datetimeOnCompletion}}
            >
              {{milestone.messageOnCompletion}}
            </Boxel::ThreadMessage>
          {{/animated-if}}
        </AnimatedContainer>
      {{/let}}
    {{/each}}
  </:content>

  <:sidebar as |SidebarSection|>
    <SidebarSection>
      <Boxel::Sidebar::CardContainer
        @header={{html-safe (concat "Workflow:<br>" @title)}}
        @attachNext={{true}}
      >
        <div>
          <Boxel::ProgressCircle
            @percentComplete={{percent-complete total=@milestones.length completed=this.progress}}
          />
        </div>
        <div class="card-pay-workflow-thread__status">
          {{this.progressStatus}}
        </div>
      </Boxel::Sidebar::CardContainer>

      <Boxel::Sidebar::CardContainer @header="Milestones">
        <Boxel::ProgressSteps
          @progressSteps={{@milestones}}
          @completedCount={{this.progress}}
        />
      </Boxel::Sidebar::CardContainer>
    </SidebarSection>

    <SidebarSection>
      <Boxel::HelpBox />
    </SidebarSection>

    <SidebarSection>
      <Boxel::Sidebar::CardContainer
        @header="Participants"
        @attachNext={{true}}
      >
        <Boxel::ParticipantList
          @fullWidth={{true}}
          @participants={{@participants}}
        />
      </Boxel::Sidebar::CardContainer>

      <Boxel::Sidebar::CardContainer>
        <Boxel::ParticipantList
          @fullWidth={{true}}
          @participants={{@orgParticipants}}
        />
        <Boxel::AddParticipantButton
          {{on "click" (optional @addParticipant)}}
        />
      </Boxel::Sidebar::CardContainer>
    </SidebarSection>
  </:sidebar>
</Boxel::Thread>