<div class="boxel-thread-message" ...attributes>
  <Boxel::Participant
    class="boxel-thread-message__participant"
    @iconOnly={{true}}
    @iconSize={{this.iconSize}}
    @hasLogo={{this.hasLogo}}
    @image={{@imgURL}}
  />

  <div>
    <div class="boxel-thread-message__info">
      {{#if @name}}
        <h4 class="boxel-thread-message__sender-name">
          {{@name}}
        </h4>
      {{/if}}
      <time class="boxel-thread-message__time">{{moment-format (or @datetime (now)) "MMM D, h:mm A"}}</time>
    </div>
    <div class="boxel-thread-message__content">
      {{#if (is-array @content)}}
        {{#each @content as |message|}}
          <p>{{message}}</p>
        {{/each}}
      {{else}}
        {{@content}}
      {{/if}}

      {{yield}}
    </div>
  </div>
</div>