<div class="boxel-thread-message" data-test-boxel-thread-message ...attributes>
  <span class="boxel-thread-message__avatar">
    {{#unless @hideMeta}}
      {{#if @imgURL}}
        <img
          src={{@imgURL}}
          alt={{or @name "participant"}}
          width="40px"
          height="40px"
          class={{cn "boxel-thread-message__avatar-img" boxel-thread-message__avatar-img--not-round=@notRound}}
          data-test-boxel-thread-message-avatar
        />
      {{else}}
        {{svg-jar "profile" width="40px" height="40px" aria-label=(or @name "participant")}}
      {{/if}}
    {{/unless}}
  </span>
  <span>
    <h3 class={{cn "boxel-thread-message__info" boxel-sr-only=@hideMeta}}>
      {{#if @name}}
        <span class={{cn "boxel-thread-message__name" boxel-sr-only=@hideName}} data-test-boxel-thread-message-name>
          {{@name}}
        </span>
      {{/if}}
      <time datetime={{or @datetime (now)}} class="boxel-thread-message__time">
        {{dayjs-format (or @datetime (now)) "MMM D, h:mm A"}}
      </time>
    </h3>

    {{yield}}
  </span>
</div>