<Freestyle::Usage @name="ThreadMessage">
  <:example>
    <Boxel::ThreadMessage
      @name={{this.name}}
      @imgURL={{this.imgURL}}
      @datetime={{this.datetime}}
      @notRound={{this.notRound}}
      @hideMeta={{this.hideMeta}}
    >
      Hi Haley, Here’s your manuscript with all the edits I would recommend. Please review and let me know if you have any questions. I also added a couple tasks for you about things you should think about, as you figure out the rest of your story.
    </Boxel::ThreadMessage>
  </:example>
  <:api as |Args|>
    <Args.Yield
      @description="Message content"
      @required={{true}}
    />
    <Args.String
      @name="name"
      @description="The name displayed above the message"
      @value={{this.name}}
      @onInput={{fn (mut this.name)}}
    />
    <Args.String
      @name="imgURL"
      @description="URL for the user avatar"
      @value={{this.imgURL}}
      @onInput={{fn (mut this.imgURL)}}
    />
    <Args.String
      @name="datetime"
      @description="Message timestamp"
      @defaultValue="(now)"
      @value={{this.datetime}}
      @onInput={{fn (mut this.datetime)}}
    />
    <Args.Bool
      @name="notRound"
      @value={{this.notRound}}
      @description="Avatar is not circle-shaped. This will only work if an `imgURL` arg is provided"
      @defaultValue={{false}}
      @onInput={{fn (mut this.notRound)}}
    />
    <Args.Bool
      @name="hideMeta"
      @value={{this.hideMeta}}
      @description="Visually hides the user avatar, name, and message timestamp"
      @defaultValue={{false}}
      @onInput={{fn (mut this.hideMeta)}}
    />
  </:api>
</Freestyle::Usage>

<Freestyle::Usage
  @slug="ThreadMessage-array"
>
  <:example>
    <div role="list">
      {{#each this.messageArray as |message i|}}
        <Boxel::ThreadMessage
          role="listitem"
          @imgURL={{this.cardbotIcon}}
          @hideMeta={{gt i 0}}
        >
          {{message}}
        </Boxel::ThreadMessage>
      {{/each}}
    </div>
  </:example>
</Freestyle::Usage>