<div class="animate-input-page">
  <div class="animate-input-card {{this.model.mode}} card-{{this.model.id}}">
    <header class="animate-input-card-header {{this.model.mode}}">
      <AnimatedContainer class="header-container">
        {{#animated-if (eq this.model.mode "view") group="header-name" use=this.fade}}
          <div class="header-title">View Card</div>
        {{else}}
          <div class="header-title">Edit Card</div>
        {{/animated-if}}
      </AnimatedContainer>
      <button class="btn-edit-toggle" {{action "setMode" (if (eq this.model.mode "view") "edit" "view")}}>{{if (eq this.model.mode "view") "Edit" "View"}}</button>
    </header>
    <AnimatedContainer class="body-container">
      {{#animated-value this.model watch="mode" use=this.bodyTransition}}
        <div class="animate-input-card-content {{this.model.mode}}">
          <AnimatedContainer class="body-container">
            <div class="animate-input-card-field animate-input-card-text-field">
              <BoxelField @value={{this.model.title}} @fieldName="title" @label="Title" @model={{this.model}} @transition={{this.transition}}/>
            </div>
            {{!-- <div class="animate-input-card-field animate-input-card-text-field">
              <BoxelField @value={{this.model.description}} @fieldName="description" @label="Description"
                @mode={{this.model.mode}} />
            </div>
            <div class="animate-input-card-field animate-input-card-text-area">
              <BoxelField @value={{this.model.body}} @fieldName="body" @label="Body" @mode={{this.model.mode}}
                @componentName="text-area" />
            </div> --}}
          </AnimatedContainer>
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>
</div>