<AnimatedContainer class="tray-container">
  {{#animated-value this.model watch="mode" use=this.trayTransition}}
    <div class="edit-demo-page {{this.model.mode}}">
      <AnimatedContainer class="card-container">
        {{#animated-value this.model watch="mode" use=this.cardTransition}}
          <div class="demo-card {{this.model.mode}} card-{{this.model.id}}">
            <AnimatedContainer class="header-container">
              {{#animated-value this.model watch="mode" use=this.headerTransition}}
                <header class="demo-card-header {{this.model.mode}}">
                  {{#animated-if (eq this.model.mode "view") group="header-name" use=this.fade}}
                    <div class="header-title">View Card</div>
                  {{else}}
                    <div class="header-title">Edit Card</div>
                  {{/animated-if}}
                  <button class="btn-edit-toggle" {{action "setMode" (if (eq this.model.mode "view") "edit" "view")}}>{{if (eq this.model.mode "view") "Edit" "View"}}</button>
                </header>
              {{/animated-value}}
            </AnimatedContainer>
            <AnimatedContainer class="body-container">
              {{#animated-value this.model watch="mode" use=this.bodyTransition}}
                <div class="demo-card-content {{this.model.mode}}">
                  <AnimatedContainer class="body-container">
                    <div class="demo-card-field demo-card-text-field">
                      <BoxelField @value={{this.model.title}} @fieldName="title" @label="Title" @model={{this.model}}/>
                    </div>
                    <div class="demo-card-field demo-card-text-field">
                      <BoxelField @value={{this.model.description}} @fieldName="description" @label="Description"
                        @model={{this.model}} />
                    </div>
                    <div class="demo-card-field demo-card-text-area">
                      <BoxelField @value={{this.model.body}} @fieldName="body" @label="Body" @model={{this.model}}
                        @componentName="text-area" />
                    </div>
                  </AnimatedContainer>
                </div>
              {{/animated-value}}
            </AnimatedContainer>
          </div>
        {{/animated-value}}
      </AnimatedContainer>
    </div>
  {{/animated-value}}
</AnimatedContainer>