<AnimatedContainer>
  {{#animated-value this.model watch="mode" use=this.trayTransition}}
    <div class="field-types-demo-page {{this.model.mode}}">
      <AnimatedContainer class="card-container">
        {{#animated-value this.model watch="mode" use=this.cardTransition}}
          <div class="field-types-demo-card {{this.model.mode}} card-{{this.model.id}}">
            <AnimatedContainer class="header-container">
              {{#animated-value this.model watch="mode" use=this.headerTransition}}
                <header class="field-types-demo-card-header {{this.model.mode}}">
                  {{#animated-if (eq this.model.mode "schema") group="header-name" use=this.fade}}
                    <div class="header-title">Customize Fields</div>
                  {{else}}
                    <div class="header-title">Edit Card</div>
                  {{/animated-if}}
                  <button class="btn-edit-toggle" {{action "setMode" (if (eq this.model.mode "edit") "schema" "edit")}}>{{if (eq this.model.mode "edit") "Schema" "Edit"}}</button>
                </header>
              {{/animated-value}}
            </AnimatedContainer>
            <AnimatedContainer class="body-container">
              {{#animated-value this.model watch="mode" use=this.bodyTransition}}
                <div class="field-types-demo-card-content {{this.model.mode}}">
                  <div class="field-types-demo-card-field demo-card-text-field">
                    <BoxelField @value={{this.model.title}} @fieldName="title" @label="Title" @model={{this.model}} @transition={{this.fieldTransition}}/>
                  </div>
                  <div class="field-types-demo-card-field demo-card-text-field">
                    <BoxelField @value={{this.model.description}} @fieldName="description" @label="Description"
                      @model={{this.model}} @transition={{this.fieldTransition}}/>
                  </div>
                  <div class="field-types-demo-card-field demo-card-text-area">
                    <BoxelField @value={{this.model.body}} @fieldName="body" @label="Body" @model={{this.model}}
                      @componentName="text-area" @transition={{this.fieldTransition}}/>
                  </div>
                </div>
              {{/animated-value}}
            </AnimatedContainer>
          </div>
        {{/animated-value}}
      </AnimatedContainer>
    </div>
  {{/animated-value}}
</AnimatedContainer>