<div class="boxel-demo">
  <h1>Boxel Demo</h1>
  <hr>
  <ul>
    <li>{{link-to "Catalog" "catalog"}}</li>
    <li>{{link-to "Cards" "demo.cards"}}</li>
    <li>{{link-to "Form Cards" "demo.form-cards"}}</li>
    <li>{{link-to "Edit Card" "demo.edit-card"}}</li>
    <li>{{link-to "Field types" "demo.field-types"}}</li>
    <li>{{link-to "Animate Input Text" "demo.animate-input"}}</li>
    <li>{{link-to "Image Cards" "demo.image-cards"}}</li>
    <li>{{link-to "Drag & Drop" "demo.drag-drop"}}</li>
    <li>{{link-to "Drag & Drop Animation" "demo.drag-drop-animation"}}</li>
    <li>{{link-to "Tic Tac Toe" "demo.tic-tac-toe"}}</li>
    <li>{{link-to "Tic Tac Toe Enhanced" "demo.tic-tac-toe-enhanced"}}</li>
    <li>{{link-to "Card Select" "demo.card-select"}}</li>
  </ul>
  <hr>
</div>