<div class="tic-tac-toe-enhanced-page">
  <div class="tic-tac-toe-enhanced-pieces {{if this.isDragging this.isDragging.name}}">
    <AnimatedContainer class="pieces-container">
      {{#animated-value this.pieceX use=this.dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-enhanced-piece {{piece.name}}" role="button" draggable="true" onmousedown={{action this.beginDragging piece}}>
          {{svg-jar piece.name width="120px" height="120px"}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
    <AnimatedContainer class="pieces-container">
      {{#animated-value this.pieceO use=this.dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-enhanced-piece {{piece.name}}" role="button" draggable="true" onmousedown={{action this.beginDragging piece}}>
          {{svg-jar piece.name width="120px" height="120px"}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>
  <div class="tic-tac-toe-enhanced-board-container">
    <div class="tic-tac-toe-enhanced-board {{if this.isDragging "dragging"}}">
      {{#each-in this.ticTacToeCells as |cellName cellValue|}}
        <div  class="tic-tac-toe-enhanced-cell-tray
                    {{if (and cellValue.length (not-eq this.activeCell cellName)) "" "draggable"}}
                    {{if (and (eq this.activeCell cellName) (not cellValue.length)) "active"}}"
              role="button"
              ondrop={{action this.dropPiece}}
              ondragover={{action this.dragOver}}
              ondragenter={{action this.setActiveCell cellName cellValue}}
              ondragleave={{action this.setActiveCell null cellValue}}>
          <AnimatedContainer class="tic-tac-toe-enhanced-cell {{concat "cell-" cellName}}">
            {{#animated-each cellValue use=this.dragTransition duration=200 as |piece|}}
              <div class="tic-tac-toe-enhanced-piece {{piece.name}}">
                {{svg-jar piece.name width="120px" height="120px"}}
              </div>
            {{/animated-each}}
          </AnimatedContainer>
          <AnimatedContainer>
            {{#animated-if (eq this.activeCell cellName) use=this.previewTransition}}
              <div class="tic-tac-toe-enhanced-piece preview {{this.isDragging.name}}">
                {{svg-jar this.isDragging.name width="120px" height="120px"}}
              </div>
            {{/animated-if}}
          </AnimatedContainer>
        </div>
      {{/each-in}}
    </div>
  </div>
</div>