<div class="tic-tac-toe-page">
  <div class="tic-tac-toe-pieces">
    <AnimatedContainer class="pieces-container">
      {{#animated-value this.pieceX use=this.dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-piece" role="button" draggable="true" onmousedown={{action this.beginDragging piece}}>
          {{piece.symbol}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
    <AnimatedContainer class="pieces-container">
      {{#animated-value this.pieceO use=this.dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-piece" role="button" draggable="true" onmousedown={{action this.beginDragging piece}}>
          {{piece.symbol}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>
  <div class="tic-tac-toe-board {{if this.isDragging "dragging"}}">
    {{#each-in this.ticTacToeCells as |cellName cellValue|}}
      <div class="cell-tray {{if cellValue.length "" "draggable"}} {{if (eq this.activeCell cellName) "active"}}" role="button" ondrop={{action this.dropPiece}} ondragover={{action this.foo}} ondragenter={{action this.setActiveCell cellName}} ondragleave={{action this.setActiveCell null}}>
        <AnimatedContainer class="tic-tac-toe-cell {{concat "cell-" cellName}}">
          {{#animated-each cellValue use=this.dragTransition duration=200 as |piece|}}
            <div class="tic-tac-toe-piece">
              {{piece.symbol}}
            </div>
          {{/animated-each}}
        </AnimatedContainer>
      </div>
    {{/each-in}}
  </div>
</div>