<div class="image-cards-page">
  <AnimatedContainer class="image-cards-list">
    {{#animated-value model key="id" group="image-card" use=this.transition as |card|}}
      <div class="image-card image-card-{{card.id}} expanded" role="button" onclick={{action "toggle"}}>
        {{#if card.image}}
          <div class="image-card--inner expanded">
            {{#animated-value card key="id" group="image" use=this.imageTransition}}
              <div class="image-card--header-image expanded">
                {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
                <div class="header-image expanded" style={{css-url "background-image" card.image}} />
              </div>
            {{/animated-value}}
            <div class="header expanded">
              {{#animated-value card key="id" group="header content" use=this.headerTransition}}
                <div>
                  <div class="title">{{card.title}}</div>
                  <div class="credit">Photo by {{card.imageCredit}}</div>
                </div>
              {{/animated-value}}
            </div>
          </div>
        {{/if}}
      </div>
    {{/animated-value}}
  </AnimatedContainer>
</div>