<div class="sort-menu" style={{this.styleAttribute}} ...attributes>
  <header>Sort by</header>
  <ul>
    {{#each @sortableColumns as |column|}}
      <Boxel::SortMenu::Item
        @column={{column}}
        @direction="asc"
        @isSelected={{and (eq column @sortedColumn) (eq "asc" @sortedDirection)}}
        {{on "click" (fn @onSort column "asc")}}
      />
      <Boxel::SortMenu::Item
        @column={{column}}
        @direction="desc"
        @isSelected={{and (eq column @sortedColumn) (eq "desc" @sortedDirection)}}
        {{on "click" (fn @onSort column "desc")}}
      />
    {{/each}}
  </ul>
</div>