<Freestyle::Usage
  @name="Modal"
  @description="A 'renderless' modal that places provided content on top of a dark, translucent overlay that obscures the page underneath."
>
<:example>
<button {{on "click" (fn (mut this.open) true)}}>Open</button>
{{#if this.open}}
  <Boxel::Modal
    @onClose={{fn this.onClose}}
    @overlayClass={{this.overlayClass}}
    style={{css-var
      boxel-modal-offset-top=this.offsetTop
      boxel-modal-offset-left=this.offsetLeft
      boxel-modal-offset-right=this.offsetRight
      boxel-modal-max-width=this.maxWidth
    }}
  >
      <div class="white">
          Hi! This is some content. Try changing `@overlayClass` to red, or blue.
      </div>
  </Boxel::Modal>
{{/if}}
</:example>
<:api as |Args|>
  <Args.String @name="overlayClass" @description="Class(es) assigned to the modal's background overlay" @value={{this.overlayClass}} @onInput={{fn (mut this.overlayClass)}} @optional={{true}}/>
  <Args.String @name="--boxel-modal-offset-right" @description="Right offset for the inner modal" @value={{this.offsetRight}} @onInput={{fn (mut this.offsetRight)}} @optional={{true}}/>
  <Args.String @name="--boxel-modal-offset-left" @description="Left offset for the inner modal" @value={{this.offsetLeft}} @onInput={{fn (mut this.offsetLeft)}} @optional={{true}}/>
  <Args.String @name="--boxel-modal-offset-top" @description="Top offset for the inner modal" @value={{this.offsetTop}} @onInput={{fn (mut this.offsetTop)}} @optional={{true}}/>
  <Args.String @name="--boxel-modal-max-width" @description="Maximum width of the modal" @value={{this.maxWidth}} @onInput={{fn (mut this.maxWidth)}} @optional={{true}}/>

  <Args.Action @name="onClose" @description="Callback when the modal's background overlay is clicked" @value={{this.onClose}} @optional={{true}}/>
  <Args.Yield @description="The content of the modal. This visually sits directly on the overlay - there is no 'container' rendered by default." @optional={{true}}/>
</:api>
</Freestyle::Usage>