<div class="boxel-searchbox" ...attributes>
    {{svg-jar "search" class="boxel-searchbox__search-icon"}}
    {{#if (and @id @label)}}
      <label for={{@id}} class="boxel-searchbox__input-label">{{@label}}</label>
    {{/if}}
    {{!-- TODO: review accessibility of type=text vs type=search --}}
    <Input
      @type="text"
      class="boxel-searchbox__input"
      id={{@id}}
      @value={{@value}}
      {{on "input" (optional @onInput)}}
      {{on "change" (optional @onChange)}}
      disabled={{@disabled}}
      placeholder={{@placeholder}}
    />
</div>
