<div
  class="progress-circle"
  style={{html-safe (concat "width:" this.size "px;height:" this.size "px;")}}
  ...attributes
>
  <div
    class="progress-circle__pie"
    style={{html-safe (concat "stroke-dasharray:" (mult (div @percentComplete 100) 339) " " 339)}}
  >
    {{svg-jar "progress-circle-lg" width=this.size height=this.size}}
  </div>
  <div
    class="progress-circle__pct-label"
    style={{html-safe (concat "font-size:" this.fontSize "px;width:" this.innerCircleSize "px; height:" this.innerCircleSize "px;")}}
  >
    {{this.humanPercentComplete}}%
  </div>
</div>
