<FreestyleAnnotation @slug="progress-circle">
  <div>
    @size (Number) the size of the circle, in px.
    <input
      type="range"
      min={{40}}
      max={{200}}
      step={{1}}
      value={{this.size}}
      {{on 'input' (pick 'target.value' (fn (mut this.size)))}}
    /> ({{this.size}})
  </div>
  <div>
    @fractionComplete (Number) completeness from 0 to 1.
    <input
      type="range"
      min={{0}}
      max={{1}}
      step={{0.001}}
      value={{this.fractionComplete}}
      {{on 'input' (pick 'target.value' (fn (mut this.fractionComplete)))}}
    /> ({{this.fractionComplete}})
  </div>
</FreestyleAnnotation>

<FreestyleUsage @slug="progress-circle">
  <Boxel::ProgressCircle
    @size={{this.size}}
    @fractionComplete={{this.fractionComplete}}
  />
</FreestyleUsage>
