<FreestyleAnnotation @slug="progress-circle">
  <div>
    @size (Number) the size of the circle, in px.
    <input
      type="range"
      min={{40}}
      max={{200}}
      step={{1}}
      value={{this.size}}
      {{on 'input' (pick 'target.value' (fn (mut this.size)))}}
    /> ({{this.size}})
  </div>
  <div>
    @percentComplete (Number) completeness from 0 to 100.
    <input
      type="range"
      min={{0}}
      max={{100}}
      step={{1}}
      value={{this.percentComplete}}
      {{on 'input' (pick 'target.value' (fn (mut this.percentComplete)))}}
    /> ({{this.percentComplete}})
  </div>
</FreestyleAnnotation>

<FreestyleUsage @slug="progress-circle">
  <Boxel::ProgressCircle
    @size={{this.size}}
    @percentComplete={{this.percentComplete}}
  />
</FreestyleUsage>
