<section class="progress-box" ...attributes>
  <section class="progress-box__section">
    <h3 class="progress-box__section-title">
      {{#if @title}}
        {{html-safe (concat "Workflow:<br>" @title)}}
      {{else}}
        Workflow Progress
      {{/if}}
    </h3>
    <Boxel::ProgressCircle
      @size={{@size}}
      @percentComplete={{this.percentComplete}}
    />
    <div class="progress-box__status">
      {{@status}}
    </div>
  </section>
  <section class="progress-box__section">
    <h3 class="progress-box__section-title">
      Milestones
    </h3>
    <Boxel::Milestones
      @milestones={{@milestones}}
      @completedCount={{@completedCount}}
    />
  </section>
</section>