<nav class="boxel-left-edge-nav" ...attributes>
  <ul class="boxel-left-edge-nav__top-btn-group">
    {{#if @home}}
      <li>
        <CardHost::LeftEdgeNav::BasicButton aria-label="home" {{on 'click' (optional @home.action)}}>
          {{svg-jar @home.icon width=@home.width height=@home.height}}
        </CardHost::LeftEdgeNav::BasicButton>
      </li>
    {{/if}}
    {{#if @user}}
      <CardHost::LeftEdgeNav::BasicButton aria-label="user profile" {{on 'click' @user.action}}>
        <div class="boxel-left-edge-nav__user-icon" style={{css-url "background-image" @user.imgURL}}></div>
      </CardHost::LeftEdgeNav::BasicButton>
    {{/if}}
  </ul>

  <CardHost::OrgSwitcher
    class="boxel-left-edge-nav__middle-btn-group"
    @orgs={{@orgs}}
    @currentOrg={{@currentOrg}}
    @ariaLabel={{@ariaLabel}}
    @onChooseOrg={{@onChooseOrg}}
  />

  <ul class="boxel-left-edge-nav__bottom-btn-group">
    {{#if @bottomActions}}
      {{#each @bottomActions as |bottomAction|}}
        <li>
          <CardHost::LeftEdgeNav::CardManagementButton aria-label={{@icon}} @iconOnly={{true}} {{on 'click' bottomAction.action}}>
            {{svg-jar bottomAction.icon width="20px" height="20px"}}
          </CardHost::LeftEdgeNav::CardManagementButton>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</nav>