<div class="article">
  <div class="article-image"><img src={{content.imageUrl}} /></div>
  <div class="article-content">
    <h3>{{content.title}}</h3>
    <div class="article-description">{{content.description}}</div>
    <div class="article-author">{{content.author.fullName}}</div>
    <div class="article-author">{{content.publishedDate}}</div>
  </div>
</div>