{{#if (eq @format "isolated")}}
  <article class="article-isolated">
    <div class="article-isolated--image"><img src={{@content.imageUrl}} alt="Article Image"></div>
    <section class="article-isolated--content">
      <h2 class="article-isolated--title" data-test-boxel-title>{{@content.title}}</h2>
      <div class="article-isolated--description" data-test-boxel-description>{{@content.description}}</div>
      <div class="article-isolated--author" data-test-boxel-author>By {{@content.author.fullName}}</div>
      <div class="article-isolated--published-date" data-test-boxel-published-date>{{@content.publishedDate}}</div>
      <div class="article-isolated--body" data-test-boxel-body>{{@content.body}}</div>
    </section>
  </article>
{{else}}
  <article class="article-embedded">
    <div class="article-embedded--image"><img src={{@content.imageUrl}} alt="Article Image"></div>
    <section class="article-embedded--content">
      <h3 class="article-embedded--title">{{@content.title}}</h3>
      <p class="article-embedded--description">{{@content.description}}</p>
      <div class="article-embedded--author">By {{@content.author.fullName}}</div>
      <div class="article-embedded--published-date">{{@content.publishedDate}}</div>
    </section>
  </article>
{{/if}}