<AnimatedContainer class="catalog">
  {{#animated-value @content group=@name use=this.transition duration=this.duration}}
    {{#if (eq @format "isolated")}}
      <article class="article-isolated" data-test-article-isolated>
        <div class="article-isolated--image"><img src={{@content.imageUrl}} alt="Article"></div>
        <section class="article-isolated--content">
          <h2 class="article-isolated--title" data-test-article-isolated-title>{{@content.title}}</h2>
          <div class="article-isolated--description" data-test-article-isolated-description>{{@content.description}}</div>
          <div class="article-isolated--author" data-test-article-isolated-author>By {{@content.author.fullName}}</div>
          <div class="article-isolated--published-date" data-test-article-isolated-published-date>{{@content.publishedDate}}</div>
          <div class="article-isolated--body" data-test-article-isolated-body>{{@content.body}}</div>
        </section>
      </article>
    {{else if (eq @format "thumbnail")}}
      <article class="article-thumbnail" data-test-article-thumbnail>
        <div class="article-thumbnail--image">
          <img src={{@content.imageUrl}} alt={{@content.altText}}>
        </div>
        <section class="article-thumbnail--text">
          <h3>{{@content.title}}</h3>
          <p>{{@content.description}}</p>
        </section>
      </article>
    {{else if (eq @format "embedded")}}
      <article class="article-embedded" data-test-article-embedded>
        <div class="article-embedded--image"><img src={{@content.imageUrl}} alt="Article"></div>
        <section class="article-embedded--content">
          <h3 class="article-embedded--title">{{@content.title}}</h3>
          <p class="article-embedded--description">{{@content.description}}</p>
          <div class="article-embedded--author">By {{@content.author.fullName}}</div>
          <div class="article-embedded--published-date">{{@content.publishedDate}}</div>
        </section>
      </article>
    {{else}}
      <div class="article {{if this.contentType (concat "article-" this.contentType "-" @format) "article-default"}}" data-test-article-default ...attributes>
        {{#if @content}}
          {{#if (is-component this.contentType)}}
            {{component this.contentType content=@content format=@format}}
          {{else}}
            A {{this.contentType}} component/template must be provided
          {{/if}}
        {{else}}
          {{yield}}
        {{/if}}
      </div>
    {{/if}}
  {{/animated-value}}
</AnimatedContainer>