{{#if (eq @format "isolated")}}
  <article class="event-isolated">
    <div class="event-isolated--image"><img src={{@content.imageUrl}} alt="Event Image"></div>
    <section class="event-isolated--content">
      <h2 class="event-isolated--title">{{@content.title}}</h2>
      <div class="event-isolated--description">{{@content.description}}</div>
      <div class="event-isolated--author">By {{@content.author.fullName}}</div>
      <div class="event-isolated--published-date">{{@content.publishedDate}}</div>
      <div class="event-isolated--body">{{@content.body}}</div>
    </section>
  </article>
{{else}}
  <article class="event-embedded">
    <div class="event-embedded--image"><img src={{@content.imageUrl}} alt="Event Image"></div>
    <section class="event-embedded--content">
      <h3 class="event-embedded--title">{{@content.title}}</h3>
      <p class="event-embedded--description">{{@content.description}}</p>
      <div class="event-embedded--author">By {{@content.author.fullName}}</div>
      <div class="event-embedded--published-date">{{@content.publishedDate}}</div>
    </section>
  </article>
{{/if}}