<div class="event">
  <div class="event-image"><img src={{content.imageUrl}} alt="Event Image"></div>
  <div class="event-content">
    <h3>{{content.title}}</h3>
    <div class="event-description">{{content.description}}</div>
    <div class="event-author">{{content.author.fullName}}</div>
    <div class="event-published-date">{{content.publishedDate}}</div>
  </div>
</div>