<section class="layout-form-view__content">
  <Boxel::Field
    @label="Card Preview"
    class="layout-form-view__preview-field"
  >
    <CardPay::PrepaidCard
      @issuerName={{@issuerName}}
      @issuerIcon={{@issuerIcon}}
      @headerColor={{@headerColor.value}}
      @darkTheme={{eq @headerColor.theme "dark"}}
      @headerPattern={{@headerPattern.value}}
      @balance={{1234}}
      @accountAddress="0x1234...5678"
      @accountNetwork="xDai Chain"
    />
  </Boxel::Field>

  <ul class="layout-form-view__fields">
    <li>
      <Boxel::TextField
        @label="Name of Issuer"
        @fieldMode="edit"
        @value={{@issuerName}}
        @updateValue={{@updateIssuerName}}
      />
    </li>
    <li>
      <Boxel::Field
        @label="Background Color"
        @fieldMode="edit"
      >
        {{!-- TODO: Extract dropdown component + hover and selection styles --}}
        <PowerSelect
          class="layout-form-view__value layout-form-view__dropdown"
          @options={{@colorOptions}}
          @selected={{@headerColor}}
          @onChange={{@updateHeaderColor}}
          @renderInPlace={{true}}
          @verticalPosition="below"
        as |option|>
          <div class="layout-form-view__dropdown-option">
            <span
              class="layout-form-view__dropdown-option-icon"
              style={{css-var header-color=option.value}}
            />
            <span class="layout-form-view__dropdown-option-title">
              {{option.title}}
            </span>
          </div>
        </PowerSelect>
      </Boxel::Field>
    </li>
    <li>
      <Boxel::Field
        @label="Pattern"
        @fieldMode="edit"
      >
        <PowerSelect
          class="layout-form-view__value layout-form-view__dropdown"
          @options={{@patternOptions}}
          @selected={{@headerPattern}}
          @onChange={{@updateHeaderPattern}}
          @renderInPlace={{true}}
          @verticalPosition="below"
        as |option|>
          <div class="layout-form-view__dropdown-option">
            <span
              class="layout-form-view__dropdown-option-icon layout-form-view__pattern-icon"
              style={{css-var header-pattern=option.value}}
            />
            <span class="layout-form-view__dropdown-option-title">
              {{option.title}}
            </span>
          </div>
        </PowerSelect>
      </Boxel::Field>
    </li>
  </ul>
</section>