<section class="layout-display-view__content">
  <Boxel::Field
    @label="Card Preview"
    class="layout-display-view__preview-field"
  >
    <div class="layout-display-view__preview-field-value">
      <div class="layout-display-view__card">
        <div class="layout-display-view__scaled-card">
          <CardPay::PrepaidCard
            @issuerName={{@issuerName}}
            @issuerIcon={{@issuerIcon}}
            @headerColor={{@headerColor.value}}
            @darkTheme={{eq @headerColor.theme "dark"}}
            @headerPattern={{@headerPattern}}
            @balance={{1234}}
            @accountAddress="0x123499999995678"
            @accountNetwork="xDai Chain"
          />
        </div>
      </div>
      <div class="layout-display-view__swatch-group">
        <div
          class="layout-display-view__swatch"
          style={{css-var header-color=@headerColor.value}}
        />
        <div
          class="layout-display-view__swatch layout-display-view__pattern-swatch"
          style={{css-var header-pattern=@headerPattern.value}}
        />
      </div>
    </div>
  </Boxel::Field>
  <Boxel::TextField
    @label="Name of Issuer"
    @value={{@issuerName}}
  />
</section>