<ul class="actions-menu {{@class}}">
  {{#if @actionItems}}
    {{#each @actionItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
  {{else}}
    <li>Duplicate</li>
    <li>Share</li>
    <li>Configure</li>
    {{#if @routeModel}}
      <li><LinkTo @route="media-registry.item.versions" @model={{@routeModel}}>Version History</LinkTo></li>
    {{else}}
      <li><LinkTo @route="media-registry.agreements" @model="bunny_records">Transfer Catalog</LinkTo></li>
    {{/if}}
  {{/if}}
</ul>