{{!-- TODO: refactor --}}
{{#if @status}}
  <div class="boxel-actions {{@class}} {{if @offsetHighlight "boxel-actions--offset"}} boxel-actions--{{@status}}" data-test-boxel-actions ...attributes>
    <div class="boxel-actions__label boxel-actions__label--{{@status}}">
      {{yield}}
    </div>
  </div>
{{else if @displayHighlightActions}}
  <div class="boxel-actions {{@class}}" data-test-boxel-actions ...attributes>
    {{#if (eq @btnLeft "more-actions")}}
      <MediaCollection::Button @class="boxel-actions__more-actions" @button={{@btnLeft}} @icon={{@btnLeftIcon}}>
        <ActionsMenu @class="boxel-actions__more-actions-menu" @actionItems={{array "Delete" "Duplicate"}} />
      </MediaCollection::Button>
    {{else}}
      <button {{on "click" (optional @btnLeftAction)}} class="boxel-actions__btn {{@btnLeft}}">{{@btnLeftContent}}</button>
    {{/if}}

    {{#if (eq @btnRight "settings")}}
      <MediaCollection::Button @class="boxel-actions__more-actions" @button="gear" @icon="gear">
        <ActionsMenu @class="boxel-actions__more-actions-menu" @versionHistory={{@versionHistory}} @transferAgreement={{@transferAgreement}} />
      </MediaCollection::Button>
    {{else}}
      <button {{on "click" (optional @btnRightAction)}} class="boxel-actions__btn boxel-actions__btn--{{@btnRightIcon}}" aria-label="{{@btnRightIcon}}" />
    {{/if}}
  </div>
{{/if}}