<Boxel @class="boxel-card__container boxel-card__container--{{or @format "list"}} boxel-card--{{@model.id}}">
  {{#if (not-eq @format "table")}}
    {{!-- fadeout effect for overflow content --}}
    <div class="card__gradient" />
  {{/if}}
  {{#if @status}}
    <BoxelHighlight @status={{@status}} />
    <BoxelActions @status={{@status}} @class={{if @comparisonType "boxel-actions--comparison-mode"}}>
      {{#if @comparisonType}}
        <ComparisonModeLabel @status={{@status}} @statusText={{@statusText}} @comparisonType={{@comparisonType}} />
      {{/if}}
    </BoxelActions>
  {{/if}}
  {{#if @expandAction}}
    <BoxelHighlight {{on "click" @expandAction}} @class="boxel-card__expand-overlay" />
  {{/if}}
  <div class="boxel-card boxel-card--default boxel-card--{{if @model @model.type "blank-card"}} {{@class}}">
    {{#if @model.type}}
      <header class="boxel-card__header">
        {{humanize @model.type}}
      </header>
    {{/if}}
    <div class="boxel-card__inner boxel-card__inner--{{or @format "list"}} {{if (or @model.imgURL @hasImage) "boxel-card__inner--with-img"}} {{if (and @status (not-eq @status "no-change")) "" "field-renderer__opacity-control"}}">
      {{#if @model.imgURL}}
        <div class="boxel-card__bg-img boxel-card__bg-img--{{@model.id}}" style={{css-url "background-image" @model.imgURL}} />
      {{/if}}
      {{#if @model.title}}
        <h3 class="boxel-card__title">{{@model.title}}</h3>
      {{/if}}
      {{#if @model.description}}
        <p class="boxel-card__description">
          {{#if @model.createdDate}}
            Created {{moment-format @model.createdDate "MMM DD, YYYY" "YYYY-MM-DD"}}<br><br>
          {{/if}}

          {{@model.description}}
        </p>
      {{/if}}

      {{yield}}

      {{#if (and @model.fields (is-array @model.fields))}}
        <ul class="boxel-card__fields">
          {{#each @model.fields as |field|}}
            <li>
              <FieldRenderer
                @class="boxel-card-field"
                @mode={{@mode}}
                @field={{field}}
              />
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</Boxel>