<Boxel @class="boxel-card__container boxel-card__container--{{or @format "list"}}">
  <div class="card__gradient" />
  {{#if @status}}
    <BoxelHighlight @status={{@status}} />
    <BoxelActions @status={{@status}} />
  {{/if}}
  {{#if @expandAction}}
    <BoxelHighlight {{on "click" @expandAction}} @class="boxel-card__expand-overlay" />
    <IconButton {{on "click" @expandAction}} @icon="expand" @class="boxel-card__expand-btn" />
  {{/if}}
  <div class="boxel-card boxel-card--default boxel-card--{{or @type @model.type}} boxel-card--{{or @format "list"}} {{if @model.imgURL "boxel-card--with-img"}}">
    {{#if @model.imgURL}}
      <div class="boxel-card__bg-img" style={{css-url "background-image" @model.imgURL}} />
    {{/if}}
    <h3 class="boxel-card__title">{{if (eq @type "musical-work") (titleize @model.title) @model.title}}</h3>
    {{#if @model.description}}
      <p class="boxel-card__description">{{@model.description}} {{#if @model.descriptionDate}}{{moment-format @model.descriptionDate "MMM DD, YYYY" "YYYY-MM-DD"}}{{/if}}</p>
    {{/if}}
    {{#if (and @model.fields (is-array @model.fields))}}
      <ul class="boxel-card__fields">
        {{#each @model.fields as |field|}}
          <li>
            <FieldRenderer
              @class="boxel-card-field"
              @mode={{@mode}}
              @field={{field}}
            />
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</Boxel>