<div class="cardflow">
  {{#if @item}}
    <BoxelModal @overlayClass="cardflow-overlay" @class="cardflow__modal">
      <header class="cardflow__modal-header">Workflow Thread - {{or this.project.description this.project.title}}</header>
      <IconButton @icon="close" @class="cardflow__modal-close-btn" {{on "click" this.closeModal}} />
      <CardPlatter @class="cardflow__nested-card">
        <header class="cardflow__nested-card-header">
          <div class="cardflow__nested-card-title">{{this.catalog.value.title}}</div>
          <PillButton {{on "click" this.closeItem}}>Back to catalog</PillButton>
        </header>
      </CardPlatter>
      <Boxel @class="cardflow__scroll-box">
        <div class="cardflow__scroll-box-bg-platter">
          <MusicDetailCard
            @class="cardflow__isolated-detail-card"
            @mode="view"
            @model={{@item}}
            @itemId={{@itemId}}
            @displayFullHeader={{true}}
          />
        </div>
      </Boxel>
    </BoxelModal>
  {{else if (and this.catalogId @isolatedCatalog)}}
    <BoxelModal @overlayClass="cardflow-overlay" @class="cardflow__modal">
      <header class="cardflow__modal-header">Workflow Thread - {{or this.project.description this.project.title}}</header>
      <IconButton @icon="close" @class="cardflow__modal-close-btn" {{on "click" this.closeModal}} />
      <CardPlatter @class="cardflow__nested-card">
        <header class="cardflow__nested-card-header">
          <div class="cardflow__nested-card-title">Transfer Proposal</div>
        </header>
      </CardPlatter>
      <IsolatedCollection
        @mode="view"
        @format="table"
        @class="cardflow__isolated-collection"
        @model={{@isolatedCatalog}}
        @transition={{action @setItemId}}
        @sort={{this.sort}}
        @search={{this.search}}
        @removeItem={{this.removeItem}}
        @itemComponent="cards/master-collection-item"
      />
    </BoxelModal>
  {{else}}
    <header class="cardflow__header">
      <div>
        <div class="cardflow__project-title">{{this.project.projectTitle}}</div>
        <div class="cardflow__title">{{or this.project.description this.project.title}}</div>
      </div>
      <LinkTo @route="media-registry" @model={{@model.id}} @class="mode-indicator mode-indicator--workflow">
        Workflow mode
      </LinkTo>
    </header>

    {{!-- Main Thread --}}
    <div class="cardflow__thread">
      <div class="cardflow__message-divider">
        <div class="cardflow__message-divider-border" />
        <div class="cardflow__message-divider-date">August 31, 2020</div>
      </div>

      <div class="cardflow__message">
        <div class="cardflow__message-icon__profile cardflow__message-icon__profile--bunny" />
        <div class="cardflow__message-info">
          <div class="cardflow__message-info-title">Lisa Track</div>
          <time>2:49 PM</time>
          <div>Administrator</div>
        </div>
        <div />
        <div class="cardflow__message-content">
          <div>
            Hi Steve,<br>
            As discussed, we are transferring the rights to 13 of Pia Midina’s and 3 of BB Clarke’s recordings to CRD Records.<br>
            Best regards,<br>
            Lisa
          </div>
          {{!-- Transfer Proposal CARD --}}
          <CardPlatter @class="cardflow-card cardflow-proposal-card">
            <header class="cardflow-card__header">
              <div class="cardflow-card__title">Transfer Proposal</div>
              <div class="cardflow-card__date">Aug 31, 2020</div>
            </header>
            <section class="cardflow-card__section cardflow-proposal-card__participants">
              <div>
                <div class="field-renderer__title">From</div>
                <div class="cardflow-proposal-card__participant">
                  {{svg-jar "button-bunny-records" width="40px" height="40px"}}
                  <div class="cardflow__participant-company">Bunny Records</div>
                </div>
              </div>
              {{svg-jar "arrow-right-lg" width="15px" height="15px"}}
              <div>
                <div class="field-renderer__title">To</div>
                <div class="cardflow-proposal-card__participant">
                  {{svg-jar "button-crd-records" width="40px" height="40px"}}
                  <div>CRD Records</div>
                </div>
              </div>
            </section>
            <section class="cardflow-card__section">
              <div class="field-renderer__title">Catalog</div>
              <Cards::MasterCollection @model={{@catalog}} @transition={{fn this.displayCatalog @catalog.id}} />
            </section>
            <section class="cardflow-card__section cardflow-proposal-card__effective-date">
                Effective Date: <strong>September 1, 2020</strong>
            </section>

            {{#if (eq @model.id "crd_records")}}
              {{!-- TODO:
              Transfer Accepted
              September 1, 8:11 AM 2020
              --}}
            {{/if}}
          </CardPlatter>
        </div>
      </div>

      {{#if (eq @model.id "bunny_records")}}
        <div class="cardflow__message">
          <div class="cardflow__message-icon__profile cardflow__message-icon__profile--bunny" />
          <Input @class="cardflow__reply-to field-renderer__input" @placeholder="Reply to Steve"></Input>
        </div>

        <div class="cardflow__message">
          <div />
          <NextSteps @inlineBtnGroup={{true}} />
        </div>
      {{/if}}

      {{#if (eq @model.id "crd_records")}}
        <div class="cardflow__message">
          <div class="cardflow__message-icon__profile cardflow__message-icon__profile--crd" />
          <div class="cardflow__message-info">
            <div class="cardflow__message-info-title">Steve Rights joined the thread</div>
            <time>2:56 PM</time>
          </div>
        </div>

        <div class="cardflow__message-divider">
          <div class="cardflow__message-divider-border" />
          <div class="cardflow__message-divider-date">September 1, 2020</div>
        </div>

        {{!-- TODO: Jump to card --}}
        <div class="cardflow__message">
          <div class="cardflow__message-icon__profile cardflow__message-icon__profile--crd" />
          <div class="cardflow__message-info">
            <div class="cardflow__message-info-title">Steve Rights accepted the transfer</div>
            <time>8:11 AM</time>
          </div>
        </div>

        <div class="cardflow__message">
          <div />
          {{!-- Amended Metadata CARD --}}
          <CardPlatter @class="cardflow-card cardflow-action-card">
            <header class="cardflow-card__header">
              <div class="cardflow-card__label cardflow-card__label--completed">Completed</div>
              <div class="cardflow-card__title">Amended Metadata</div>
            </header>
            <ul class="cardflow-action-card__list">
              <li class="cardflow-action-card__list-item completed">
                <div class="cardflow-action-card__list-item--checkbox" />
                <div>
                  <div class="cardflow-action-card__list-item--title">Update ownership information</div>
                  <div>16 items updated, 32 fields changed</div>
                </div>
                <div>Sep 1, 8:11 AM</div>
              </li>
              <li class="cardflow-action-card__list-item completed">
                <div class="cardflow-action-card__list-item--checkbox" />
                <div>
                  <div class="cardflow-action-card__list-item--title">Add transfer details to Verifi registry</div>
                  <div>Anchored on Ethereum blockchain at block 5289291238</div>
                </div>
                <div>Sep 1, 8:34 AM</div>
              </li>
              <li class="cardflow-action-card__list-item completed">
                <div class="cardflow-action-card__list-item--checkbox" />
                <div>
                  <div class="cardflow-action-card__list-item--title">Retrieve and store media assets </div>
                  <div>Move from Bunny Amazon S3 to CRD MediaNet account</div>
                </div>
                <div>Sep 1, 9:46 AM</div>
              </li>
            </ul>
          </CardPlatter>
        </div>

        <div class="cardflow__message">
          <div class="cardflow__message-icon" style={{css-url "background-image" "/media-registry/button-verify.svg"}}></div>
          <div class="cardflow__message-info">
            <div class="cardflow__message-info-title">Published to <strong>Verifi Public Registry</strong></div>
            <time>8:34 AM</time>
          </div>
          <div />
          <CardPlatter @class="cardflow-card cardflow-proposal-card cardflow-proposal-announcement-card">
            <header class="cardflow-card__header">
              <div class="cardflow-card__title">Catalog Transfer Announcement</div>
            </header>
            <section class="cardflow-card__section cardflow-proposal-card__participants">
              <div>
                <div class="field-renderer__title">From</div>
                <div class="cardflow-proposal-card__participant">
                  {{svg-jar "button-bunny-records" width="40px" height="40px"}}
                  <div class="cardflow__participant-company">Bunny Records</div>
                </div>
              </div>
              {{svg-jar "arrow-right-lg" width="15px" height="15px"}}
              <div>
                <div class="field-renderer__title">To</div>
                <div class="cardflow-proposal-card__participant">
                  {{svg-jar "button-crd-records" width="40px" height="40px"}}
                  <div>CRD Records</div>
                </div>
              </div>
            </section>
          </CardPlatter>
        </div>

        <div class="cardflow__message">
          <div class="cardflow__message-icon" style={{css-url "background-image" "/media-registry/button-crd-records.svg"}}></div>
          <div class="cardflow__message-info">
            <div class="cardflow__message-info-title">Added to <strong>CRD Records Catalog</strong></div>
            <time>9:46 AM</time>
          </div>
          <div />
          {{!-- Catalog Summary Card --}}
          <CardPlatter @class="cardflow-card catalog-summary-card">
            <div class="catalog-summary-card__img" />
            <div>
              <div><strong>Pia Midina & BB Clarke</strong></div>
              <div class="catalog-summary-card__desc">Transfer from Bunny Records</div>
            </div>
            <div class="catalog-summary-card__count"><strong>16</strong> Masters</div>
          </CardPlatter>
        </div>

        <div class="cardflow__message">
          <div class="cardflow__message-icon__profile cardflow__message-icon__profile--crd" />
          <Input @class="cardflow__reply-to field-renderer__input" @placeholder="Reply to Lisa"></Input>
        </div>

        <div class="cardflow__message">
          <div />
          <NextSteps @steps={{array "Redeliver to DSP" "Make Changes to Catalog"}} />
        </div>
      {{/if}}
    </div>

  {{!-- Right Sidebar --}}
    <aside class="cardflow__sidebar">
      {{!-- Progress Pie --}}
      <section class="cardflow__sidebar-section">
        <h3 class="cardflow__sidebar-title">Progress</h3>
        <div class="cardflow__progress">
          <div class="cardflow__progress-icon" style={{css-url "background-image" this.progress.iconLg}}>
            <span class="cardflow__progress-pct">{{this.progress.pct}}%</span>
          </div>
          <div class="cardflow__progress-status">{{this.progress.desc}}</div>
        </div>
      </section>

      {{!-- Checklist --}}
      <section class="cardflow__sidebar-section">
        <h3 class="cardflow__sidebar-title">Checklist</h3>
        <CardPlatter>
          {{#let this.progress.pct as |progress|}}
            <ul class="cardflow__checklist">
              <li class="cardflow__checklist-item {{if (gt progress 0) "completed" (if (eq progress 0) "current")}}">
                  {{svg-jar (if (gt progress 0) "checkmark-lg" "checklist-circle") width="16px" height="16px"}} Propose
                  {{#if (gt progress 0)}}<span class="cardflow__checklist-time">{{if (eq @model.id "crd_records") "1d ago" "2h ago"}}</span>{{/if}}
              </li>
              <li class="cardflow__checklist-item {{if (gt progress 20) "completed" (if (eq progress 20) "current")}}">
                {{svg-jar (if (gt progress 20) "checkmark-lg" "checklist-circle") width="16px" height="16px"}} Review
                {{#if (gt progress 20)}}<span class="cardflow__checklist-time">1d ago</span>{{/if}}
              </li>
              <li class="cardflow__checklist-item {{if (gt progress 40) "completed" (if (eq progress 40) "current")}}">
                {{svg-jar (if (gt progress 40) "checkmark-lg" "checklist-circle") width="16px" height="16px"}} Accept
                {{#if (gt progress 40)}}<span class="cardflow__checklist-time">10m ago</span>{{/if}}
              </li>
              <li class="cardflow__checklist-item {{if (gt progress 60) "completed" (if (eq progress 60) "current")}}">
                {{svg-jar (if (gt progress 60) "checkmark-lg" "checklist-circle") width="16px" height="16px"}} Amend
                {{#if (gt progress 60)}}<span class="cardflow__checklist-time">5m ago</span>{{/if}}
              </li>
              <li class="cardflow__checklist-item {{if (gt progress 80) "completed" (if (eq progress 80) "current")}}">
                {{svg-jar (if (gt progress 80) "checkmark-lg" "checklist-circle") width="16px" height="16px"}} Redeliver
                {{#if (gt progress 80)}}<span class="cardflow__checklist-time">1m ago</span>{{/if}}
              </li>
            </ul>
          {{/let}}
        </CardPlatter>
      </section>

      {{!-- Participants Box --}}
      <section class="cardflow__sidebar-section">
        <h3 class="cardflow__sidebar-title">Participants</h3>
        <CardPlatter>
          {{#each @model.orgs as |participant|}}
            <div class="cardflow__participants">
              <div class="cardflow__participant">
                <div class="cardflow__participant-company-img" style={{css-url "background-image" participant.iconURL}} />
                <div class="cardflow__participant-company">{{participant.company}}</div>
              </div>
              <div class="cardflow__participant">
                <div class="cardflow__participant-user-img" style={{css-url "background-image" participant.user.imgURL}} />
                <div class="cardflow__participant-user">
                  {{participant.user.name}}<br>
                  <span>{{participant.user.title}}</span>
                </div>
              </div>
            </div>
          {{/each}}
        </CardPlatter>
      </section>
    </aside>
  {{/if}}
</div>