<div class="queue {{@class}}">
  <header class="queue__header">
    <div class="queue__org">
      <div class="queue__org-logo" style={{css-url "background-image" @model.iconURL}} />
      <div>
        <div class="queue__org-title">{{@model.title}}</div>
        <div class="queue__user-title">{{this.user.title}}</div>
      </div>
    </div>

    <ul class="queue__nav">
      <li class="queue__nav-item queue__nav-item--selected">Queue</li>
      <li class="queue__nav-item">Workflows</li>
      <li class="queue__nav-item">Tasks</li>
    </ul>

    <div class="queue__header-input-group">
      <div class="queue__pill-btn-group pill-btn-group">
        <button
          {{on "click" (fn this.filterQueue null)}}
          class="pill-btn-group__btn pill-btn-group__btn--left {{if (eq this.displayQueue "shared") "pill-btn-group__btn--selected"}}"
        >
          Shared Queue
        </button>
        <button
          {{on "click" (fn this.filterQueue @user.id)}}
          class="pill-btn-group__btn pill-btn-group__btn--right {{if (eq this.displayQueue "user") "pill-btn-group__btn--selected"}}"
        >
          My Queue
        </button>
      </div>
      <Input @value="Search" @class="queue__filter" />
    </div>

    <div class="queue__display-format">
      <div>View as {{capitalize this.displayFormat}}</div>
      <div class="queue__display-format-btns">
        <IconButton @class="queue__display-format-btn {{if (eq this.displayFormat "list") "queue__display-format-btn--selected"}}" @icon="list-2" @width="14px" @height="14px" />
        <IconButton @class="queue__display-format-btn {{if (eq this.displayFormat "grid") "queue__display-format-btn--selected"}}" @icon="grid-2" @width="14px" @height="14px" />
      </div>
    </div>
  </header>

  <section class="queue__section">
    <header class="queue__section-header">
      <span>Unread</span>
      <span class="queue__section-count">{{this.unreadCards.length}}</span>
    </header>
    <div class="queue__section-content">
      {{#each this.unreadCards as |card|}}
        <QueueCard
          @card={{card}}
          @orgId={{@model.id}}
          @currentMilestone={{@currentMilestone}}
          @updateProgress={{@updateProgress}}
        />
      {{/each}}
    </div>
  </section>

  <section class="queue__section">
    <header class="queue__section-header">
      <span>Needs Response</span>
      <span class="queue__section-count">{{this.actionReqCards.length}}</span>
    </header>
    <div class="queue__section-content">
      {{#each this.actionReqCards as |card|}}
        <QueueCard @card={{card}} @orgId={{@model.id}} />
      {{/each}}
    </div>
  </section>

  <section class="queue__section">
    <header class="queue__section-header">
      <span>Recent Activity</span>
      <span class="queue__section-count">{{this.recentCards.length}}</span>
    </header>
    <div class="queue__section-content">
      {{#each this.recentCards as |card|}}
        <QueueCard @card={{card}} @orgId={{@model.id}} />
      {{/each}}
    </div>
  </section>
</div>