<Boxel>
  <div class="collection-field">
    {{#if @belongsToField}}
      <div class="collection-field__item collection-field__item--{{or @field.format "list"}} collection-field__item--belongs-to">
        {{#if @field.value}}
          {{component (or @field.component "card") model=@field.value mode="view" format=@field.format}}
          <IconButton @icon="icon-minus-circle" @class="collection-field__remove-btn" @aria-label="remove" />
        {{else}}
          <CollectionAddButton @fieldName={{@field.title}} @component={{@field.component}} />
        {{/if}}
      </div>
    {{else}}
      {{#if (gt @collection.length 1)}}
        <header class="collection-field__header">
          <h4 class="collection-field__title">{{@title}}</h4>
          <div class="collection-field__select-all-row">
            <SelectButton
              {{!-- {{on "click" this.toggleSelectAll}} --}}
              @mode={{@mode}}
              @isPartial={{@collection.selectedItemCount}}
              @isSelected={{@collection.selectedAll}}
            />
            <div class="media-collection__pill media-collection__select-all">
              {{#if @collection.selectedItemCount}}
                {{svg-jar "check-mark" width="9px" height="7px"}}
                {{@collection.selectedItemCount}} selected
                <button class="media-collection__more-actions">{{svg-jar "more-actions" width="16px" height="16px"}}</button>
              {{else}}
                Select all
              {{/if}}
            </div>
          </div>
        </header>
      {{/if}}
      <div class="collection-field__items collection-field__items--{{or @format "list"}}">
        {{#each @collection as |item|}}
          <div class="collection-field__item collection-field__item--{{or @format "list"}} {{if (gt @collection.length 1) "collection-field__item--multiple" "collection-field__item--single"}}">
            {{#if (gt @collection.length 1)}}
              <SelectButton
                {{!-- {{on "click" (fn this.toggleSelect item)}} --}}
                @isSelected={{item.selected}}
                @class="collection-field__select-btn"
                @mode={{@mode}}
              />
            {{/if}}
            {{component (or item.component @field.component "card") model=item mode="view" class="collection-field__card" format=@format}}
            <IconButton @icon="icon-minus-circle" @class="collection-field__remove-btn" @aria-label="remove" />
          </div>
        {{/each}}
      </div>
      {{#if (gt @collection.length 1)}}
        <div class="collection-field__view-all">
          <button class="collection-editor__view-all-btn">
            View all ({{@collection.length}})
          </button>
        </div>
      {{/if}}
      <footer class="collection-field__footer">
        <CollectionAddButton
          @searchFn={{@field.search}}
          @field={{@field}}
          @fieldName={{@field.title}}
          @addItem={{this.addItem}}
          @format={{@format}}
          @mode={{@mode}}
          @component={{@field.component}}
          @newItemComponent={{component "card" mode="view" format=@format class="collection-field__card"}}
        />
      </footer>
    {{/if}}
  </div>
</Boxel>