{{#if (eq @mode "edit")}}
  {{!-- Edit Mode --}}
  {{#if (or (eq @field.type "card") @field.value.id (is-array @field.value))}}
    <div class="field-renderer {{lowercase (dasherize (trim @field.title))}}-edit-field {{@class}}">
      <h4 class="field-renderer__title">{{humanize @field.title}}</h4>
      {{#if (eq @field.type "card")}}
        <CollectionField
          @belongsToField={{true}}
          @field={{@field}}
          @mode="edit"
        />
      {{else if (eq @field.type "collection")}}
        <CollectionField
          @collection={{@field.value}}
          @format={{@field.format}}
          @title={{@field.title}}
          @field={{@field}}
          @mode="edit"
        />
      {{else}}
        {{#let (filter-by "title" @field.value) as |multiTagList|}}
          {{#if multiTagList.length}}
            {{!-- Taglist with multiple sections --}}
            <div class="field-renderer__group">
              {{#each @field.value as |val|}}
                <div class="field-renderer__taglist-title">{{val.title}}</div>
                <ul class="field-renderer__taglist-editor field-renderer__taglist-editor--vertical">
                  {{#if (is-array val.value)}}
                    {{#each val.value as |vv|}}
                      <li class="item__pill">
                        <span>{{vv}}</span>
                        <button class="item__remove-btn" aria-label="remove" />
                      </li>
                    {{/each}}
                  {{else}}
                    {{#if val.value}}
                      <li class="item__pill">
                        <span>{{val.value}}</span>
                        <button class="item__remove-btn" aria-label="remove" />
                      </li>
                    {{/if}}
                  {{/if}}
                  <button class="item__add-btn" aria-label="add" />
                </ul>
              {{/each}}
            </div>
          {{else}}
            {{!-- Horizontal tagList --}}
            <ul class="field-renderer__taglist-editor">
              {{#each @field.value as |val|}}
                <li class="item__pill">
                  <span>{{val}}</span>
                  <button class="item__remove-btn" aria-label="remove" />
                </li>
              {{/each}}
              <button class="item__add-btn" aria-label="add" />
            </ul>
          {{/if}}
        {{/let}}
      {{/if}}
    </div>
  {{else}}
    <label class="field-renderer">
      <div class="field-renderer__title">{{humanize @field.title}}</div>
      <div class="field-renderer__value">
        {{#if (eq @field.type "dropdown")}}
          <Dropdown @className="field-renderer__dropdown" @options={{@field.options}} @selected={{@field}} @searchField={{or @searchField "value"}} />
        {{else if (eq @field.type "textarea")}}
          <Textarea @type={{@field.type}} @class="field-renderer__input field-renderer__textarea" @value={{@field.value}} />
        {{else}}
          <Input @type={{@field.type}} @class="field-renderer__input" @value={{if (eq @field.title "title") (titleize @field.value) @field.value}} />
        {{/if}}
      </div>
    </label>
  {{/if}}
{{else}}
  {{!-- View Mode --}}
  <Boxel @class="field-renderer {{lowercase (dasherize (trim @field.title))}}-field {{@class}}">
    {{#if (contains @field.title @addedFields)}}
      <BoxelHighlight @status="added" />
      <BoxelActions @status="added" />
    {{/if}}
    <div class="field-renderer__title">{{humanize @field.title}}</div>
    <Boxel @class="field-renderer__value {{if (eq @field.type "image") "field-renderer__value--img-field"}}">
      {{#if @field.value}}
        {{#if (eq @field.type "card")}}
          {{#if (and @comparisonMode @field.value.id (eq @changedCards.0.value.id @field.value.id))}}
            <div>
              <ins>{{component (or @field.component "card") model=@field.value mode="view" variant="small" status="changed"}}</ins>
              <Boxel>
                <BoxelHighlight @status="deleted" />
                <BoxelActions @status="deleted" />
                <del class="field-renderer--deleted field-renderer--deleted-no-offset">{{@changedCards.0.oldValue}}</del>
              </Boxel>
            </div>
          {{else if (and @comparisonMode @modifiedCard.value (is-equal @modifiedCard.value @field.value))}}
            <Boxel>
              <BoxelHighlight @status="modified" />
              <BoxelActions @status="modified"><div class="field-renderer__modified-count">{{@modifiedCard.value.fields.length}}</div></BoxelActions>
              {{component (or @field.component "card") model=@field.value mode="view"}}
            </Boxel>
          {{else}}
            {{component (or @field.component "card") model=@field.value mode="view"}}
          {{/if}}
        {{else if (eq @field.type "collection")}}
          <EmbeddedCollection
            @collection={{@field.value}}
            @cardComponent={{@field.component}}
            @comparisonMode={{@comparisonMode}}
            @addedFields={{@addedFields}}
            @addedValues={{@addedValues}}
            @changedFields={{@changedFields}}
            @removedFields={{@removedFields}}
            @removedValues={{@removedValues}}
            @addedCards={{@addedCards}}
            @removedCards={{@removedCards}}
            @changedCards={{@changedCards}}
            @modifiedCard={{@modifiedCard}}
          />
        {{else if (is-array @field.value)}}
          {{#let (filter-by "title" @field.value) as |multiTagList|}}
            {{#if multiTagList.length}}
              {{#each @field.value as |val|}}
                <div class="field-renderer__taglist-title">{{val.title}}</div>
                {{#if (eq val.type "card")}}
                  {{component (or val.component "card") model=val.value mode="view"}}
                {{else}}
                  {{#each val.value as |vv|}}
                    <div>{{vv}}</div>
                  {{else}}
                    {{or val.value "N/A"}}
                  {{/each}}
                {{/if}}
              {{/each}}
            {{else}}
              {{#each @field.value as |val|}}
                {{val}}{{#if (has-next val @field.value)}}, {{/if}}
              {{/each}}
            {{/if}}
          {{/let}}
        {{else}}
          {{#if (and @comparisonMode (find-by "title" @field.title @changedFields))}}
            {{#with (find-by "title" @field.title @changedFields) as |changed|}}
              {{#if (eq @field.type "image")}}
                <Boxel>
                  <BoxelHighlight @offsetHighlight={{true}} @status="changed" />
                  <BoxelActions @offsetHighlight={{true}} @status="changed" />
                  <ins><img src={{@field.value}} width="260" height="260" alt="cover" /></ins>
                </Boxel>
                <Boxel>
                  <BoxelHighlight @offsetHighlight={{true}} @status="deleted" />
                  <BoxelActions @offsetHighlight={{true}} @status="deleted" />
                  <del class="field-renderer--deleted"><img src={{changed.oldValue}} width="260" height="260" alt="cover" /></del>
                </Boxel>
              {{else}}
                <Boxel>
                  <BoxelHighlight @offsetHighlight={{true}} @status="changed" />
                  <BoxelActions @offsetHighlight={{true}} @status="changed" />
                  <ins>{{if (eq @field.title "title") (titleize @field.value) @field.value}}</ins>
                </Boxel>
                <Boxel>
                  <BoxelHighlight @offsetHighlight={{true}} @status="deleted" />
                  <BoxelActions @offsetHighlight={{true}} @status="deleted" />
                  <del class="field-renderer--deleted">{{changed.oldValue}}</del>
                </Boxel>
              {{/if}}
            {{/with}}
          {{else}}
            {{#if (and @comparisonMode (contains @field.title @addedValues))}}
              <BoxelHighlight @offsetHighlight={{true}} @status="added" />
              <BoxelActions @offsetHighlight={{true}} @status="added" />
            {{/if}}
            {{#if (eq @field.type "date")}}
              {{moment-format @field.value "MMM DD, YYYY" "YYYY-MM-DD"}}
            {{else if (eq @field.type "image")}}
              {{!-- Make this more generic --}}
              <img src={{or @field.value "/media-registry/album_art.svg"}} alt="cover art" width="260" height="260" />
            {{else}}
              {{if (eq @field.title "title") (titleize @field.value) @field.value}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{else}}
        <div class="field-renderer__placeholder field-renderer__placeholder--{{@field.title}}">N/A</div>
      {{/if}}
    </Boxel>
  </Boxel>
{{/if}}