<button class="icon-btn {{@class}} icon-btn--{{or @mode "view"}} icon-btn--{{or @variant "default"}}" aria-label={{@aria-label}} ...attributes>
  {{svg-jar @icon width="16px" height="16px"}}
</button>