<nav class="left-edge-nav">
  <ul class="left-edge-nav__top-btn-group">
    <li>
      {{!-- <LinkTo @route="media-registry" class="left-edge-nav__btn left-edge-nav__btn--cs-logo" aria-label="home">
        {{svg-jar "cardstack-logo" width="33px" height="35px"}}
      </LinkTo> --}}
      <LinkTo @route="media-registry" class="left-edge-nav__btn left-edge-nav__btn--static" aria-label="home">
        {{svg-jar "verifi-logo-dark-outline" width="45px" height="45px"}}
      </LinkTo>
    </li>
  </ul>

  <ul class="left-edge-nav__middle-btn-group">
    {{#each @orgs as |org|}}
      <li>
        <button {{on "click" (fn this.transitionToCatalog @currentRouteName org.id)}}
          class="left-edge-nav__btn left-edge-nav__btn--full {{if (eq @current org.id) "selected"}}"
          style={{css-url "background-image" org.iconURL}}
          aria-label="View catalog for {{org.company}}"
        />
      </li>
    {{/each}}
  </ul>

  <ul class="left-edge-nav__bottom-btn-group">
    {{!-- <li>
      <button class="left-edge-nav__btn left-edge-nav__btn--icon-only" aria-label="pin">
        {{svg-jar "pin" width="20px" height="20px"}}
      </button>
    </li>
    <li>
      <button class="left-edge-nav__btn left-edge-nav__btn--icon-only" aria-label="catalog">
        {{svg-jar "card-catalog" width="20px" height="20px"}}
      </button>
    </li>
    <li>
      <button class="left-edge-nav__btn left-edge-nav__btn--icon-only" aria-label="library">
        {{svg-jar "library" width="21px" height="21px"}}
      </button>
    </li> --}}
  </ul>
</nav>