{{#if @route}}
  <LinkTo @route={{@route}} @model={{@routeModel}} @class="boxel-pill-btn boxel-pill-btn__{{@variant}} {{@class}}" ...attributes>
    {{yield}}
  </LinkTo>
{{else}}
  <button class="boxel-pill-btn boxel-pill-btn__{{@variant}} {{@class}}" ...attributes>
    {{yield}}
  </button>
{{/if}}