<div role="button" {{on "click" @selectCard}} class="queue-card {{if (and (eq @card.id @currentCard.id) (eq @card.orgId @currentCard.orgId)) "queue-card--light-theme"}}">
  <div class="queue-card__datetime-row">
    {{#let (if @currentMilestone.timestamp @currentMilestone.timestamp @card.datetime) as |datetime|}}
      <time datetime={{datetime}} class="queue-card__datetime">{{moment-format datetime "MMM D, h:mm A"}}</time>
      {{#if (eq @card.status "unread")}}
        <div class="queue-card__notification">1</div>
      {{/if}}
    {{/let}}
  </div>

  <section class="queue-card__content">
    {{#if @card.project}}
      <h4 class="queue-card__label">{{@card.project}}</h4>
    {{/if}}
    <h3 class="queue-card__project-title">{{@card.title}}</h3>
    {{#if (and @card.participants @card.participants.length)}}
      <div class="queue-card__participants">
        {{svg-jar "users" width="14px" height="12px"}}
        <span>{{this.participants}}</span>
      </div>
    {{/if}}
  </section>

  {{#if (or @card.tasks this.progress)}}
    <footer class="queue-card__footer">
      <div>
        {{#if @card.awaitingResponse}}
          <div class="queue-card__task-label queue-card__task-label--awaiting-reply">
            Awaiting Response
          </div>
        {{/if}}
        {{#if (and @card.tasks @card.tasks.length)}}
          <div class="queue-card__task-label">
            {{@card.tasks.length}} {{#if (eq @card.tasks.length 1)}}Task{{else}}Tasks{{/if}}
          </div>
        {{/if}}
      </div>
      <div class="queue-card__status">
        {{this.progress}}
        <div class="queue-card__progress-icon {{if @card.isCancelled "cancelled"}} {{if @card.isComplete "complete"}}">
          {{#if (not (or @card.isCancelled @card.isComplete))}}
            <div class="queue-card__progress-pie" style={{html-safe (concat "stroke-dasharray:" (mult this.progressPct 60) " " 60)}}>
              {{svg-jar "progress-circle" width="24px" height="24px"}}
            </div>
          {{/if}}
        </div>
      </div>
    </footer>
  {{/if}}
</div>