<button
  class="select-btn {{@class}} {{if (and @isPartial (not @isSelected)) "select-btn--partial"}} {{if @isSelected "select-btn--selected"}}"
  aria-label={{if @isSelected "selected" "select"}}
  ...attributes
>
  {{svg-jar "icon-circle-selected" width="16px" height="16px"}}
</button>