<LinkTo @route={{@route}} @model={{@routeModel}} @class="sidebar-related-card__link">
  <Boxel @class="sidebar-related-card">
    <header class="sidebar-related-card__header">
      {{@type}}
    </header>

    <div class="sidebar-related-card__inner">
      <div class="sidebar-related-card__left">
        <div class="sidebar-related-card__thumb-{{@type}}" style={{css-url "background-image" (if (eq @title "Batch F") "/media-registry/batch-f.png" "/media-registry/film-music.png")}}></div>
      </div>
      <div class="sidebar-related-card__right">
        <div class="sidebar-related-card__title">
          {{@title}}
        </div>
        {{#if @subtitle}}
          <div class="sidebar-related-card__subtitle">
            {{@subtitle}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="sidebar-related-card__count">
      <span class="sidebar-related-card__count__number">
        {{#if @count}}
          {{@count}}
        {{else}}
          {{if (eq @title "Batch F") "16" "29"}}
        {{/if}}
      </span> items
    </div>
  </Boxel>
</LinkTo>
