<AnimatedContainer>
  <div class="event-view">
    <AnimatedContainer>
      {{#animated-value this.model watch="selected" use=this.trayAnimation key="id" group="tray" as |card|}}
        <div class="event-card-container {{if card.selected "selected"}}" role="button" {{action "viewGridPage"}}>
          <div class="event-card-container--content">
            <div>{{card.constructor.modelName}} Card</div>
            {{! template-lint-configure no-nested-interactive false}}
            <button {{action "viewGridPage"}}>Done</button>
          </div>

          {{#animated-value this.model watch="selected" key="id" group="content" use=this.holdContent as |card|}}
            <div class="event-card-wrapper {{if card.selected "selected"}}">
              {{#animated-value card key="id" group=(concat "card-" card.id) use=this.cardTransition as |card|}}
                {{!-- Card content --}}
                <div class="event-view-card event-view-card-{{card.id}}">
                  {{#animated-value card key="id" group=(concat "image-" card.id) use=this.imageTransition as |card|}}
                    {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
                    <div class="event-view-image" style={{css-url "background-image" card.imageUrl}}></div>
                  {{/animated-value}}
                  <div class="event-view-details">
                    {{#animated-value card key="id" group=(concat "header-" card.id) use=this.headerTransition}}
                      <div>
                        <div class="event-view-details--header">
                          <div class="event-view-date">{{card.date}}</div>
                          {{#animated-value card group="title" use=this.tweenTitle}}
                            <div class="event-view-title">{{card.title}}</div>
                          {{/animated-value}}
                        </div>
                        <div>
                          <div class="event-view-location">{{card.location}}</div>
                          <div class="event-view-price">{{card.price}}</div>
                        </div>
                      </div>
                    {{/animated-value}}
                  </div>
                  {{#animated-value this.model group=(concat "body-" this.model.id) use=this.bodyTransition as |card|}}
                    <div class="event-view--main">
                      <div class="event-view--info-group">
                        <div class="label">Date & Time</div>
                        <div>{{card.datetime}}</div>
                      </div>
                      <div class="event-view--info-group">
                        <div class="label">Location</div>
                        <div>{{card.address}}</div>
                      </div>
                      <div class="event-view--info-group">
                        <div class="label">Description</div>
                        <div>{{card.description}}</div>
                      </div>
                    </div>
                  {{/animated-value}}
                </div>
                {{!-- End of card content --}}
              {{/animated-value}}
            </div>
          {{/animated-value}}
        </div>
      {{/animated-value}}

    </AnimatedContainer>
  </div>
</AnimatedContainer>