<div class="boxel-card boxel-card--default boxel-card__file boxel-card--{{@model.type}} boxel-card--{{@mode}} boxel-card--{{@format}} boxel-card--with-img">
  <div class="boxel-card__bg-img" style={{css-url "background-image" @model.imgURL}} />
  <h3 class="boxel-card__title">{{@model.title}}</h3>
  {{#if @model.date}}
    <p class="boxel-card__description">Created {{moment-format @model.date "MMM D, YYYY" "YYYY-MM-DD"}}</p>
  {{/if}}
</div>