<div class="boxel-card boxel-card--default boxel-card__file boxel-card--{{@model.category}} boxel-card--{{@variant}} boxel-card--{{@mode}} boxel-card--{{@format}} boxel-card--with-img">
  <div class="boxel-card__bg-img" style={{css-url "background-image" @model.fields.imgURL}} />
  <h3 class="boxel-card__title">{{@model.fields.title}}</h3>
  <p class="boxel-card__description">Created {{moment-format @model.fields.date "MMM DD, YYYY" "YYYY-MM-DD"}}</p>
</div>