{{#let @model as |item|}}
<LinkTo @route={{@route}} @model={{item.id}}>
  <Boxel @class="collection__boxel collection__boxel--{{@format}}">
    <BoxelHighlight @class="collection__highlighter" @on={{item.selected}} />

    <div class="isolated-collection-item isolated-collection-item--{{@format}}">
      {{#if (eq @format "table-list")}}
        <ul class="isolated-collection-item__list">
          {{#each @listFields as |field i|}}
            <li class="isolated-collection-item__list-field isolated-collection-item__list-field--{{i}}">
              <div class="collection__list-field-label">{{field.name}}</div>
              <div>
                {{#if (eq field.type "date")}}
                  {{moment-format (get item field.valuePath) "MMM D, YYYY h:mm A"}}
                {{else}}
                  {{get item field.valuePath}}
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </Boxel>
</LinkTo>
{{/let}}