<Boxel>
  {{#if @status}}
    <BoxelHighlight @status={{@status}} />
    <BoxelActions @status={{@status}} @class="{{if @comparisonType "boxel-actions--comparison-mode"}}">
      {{#if @comparisonType}}
        <ComparisonModeLabel @status={{@status}} @modifiedCount={{@fieldData.modifiedCount}} @statusText={{@statusText}} @comparisonType={{@comparisonType}} />
      {{/if}}
    </BoxelActions>
  {{/if}}
  <div class={{if (and @status (not-eq @status "no-change")) "territory__wrapper"}}>
    <Card @class="territory-card territory-card--{{@model.id}}" @model={{@model}} @mode="view" />
    <ul class="territory__publishers-list">
      {{#each (if @model.publishers @model.publishers @model.value) as |card|}}
        <li>
          <Card @model={{card}} @mode="view" />
        </li>
      {{/each}}
    </ul>
  </div>
</Boxel>