<ul
  class={{cn
    "boxel-participant-list"
    boxel-participant-list__fanned=@fanned
    boxel-participant-list--full-width=@fullWidth
  }}
  style={{css-var icon-size=this.iconSize}}
  ...attributes
>
  {{#each @participants as |participant i|}}
    {{#if (lt i this.maxCount)}}
      <li>
        <Boxel::Participant
          class="boxel-participant-list__participant"
          @title={{participant.title}}
          @description={{participant.role}}
          @image={{participant.imgURL}}
          @hasLogo={{or @hasLogo (eq participant.type "organization")}}
          @iconSize={{this.iconSize}}
          @iconOnly={{or @iconOnly @fanned}}
        />
      </li>
    {{/if}}
  {{/each}}
</ul>