<section class="cs-content-info">
  {{cs-svg "article" width="22px" height="28px"}}
  <p class="content-type">{{cs-humanize model.type}}</p>
  <p class="content-title">
    {{moment-format model.created "YYYY-MM-DD"}} {{model.title}}
  </p>
</section>

<div> {{!- this one scrolls }}

  {{#each fields key="id" as |fieldGroup|}}
    {{#cs-collapsible-section class="cs-toolbox-section"
                              title=(cs-humanize fieldGroup.name)
                              opened=fieldGroup.opened
                              open=(action openField fieldGroup)
                              close=(action openField null)
                              hovered=(perform highlightAndScrollToField fieldGroup)
                              unhovered=(perform highlightAndScrollToField null) }}

      {{field.name}}
    {{/cs-collapsible-section}}
  {{/each}}

</div>
