<Tray @expanded={{true}}>
  <div class="catalog-item catalog-item--isolated">
    <div class="catalog-item--preview">
      <Boxel @content={{model}} @variant="small" />
    </div>
    <div class="catalog-item--info">
      <h3>{{model.constructor.modelName}} template</h3>
      <p>{{model.constructor.modelName}} metadata...</p>
      <LinkTo @route="catalog.edit" @tagName="button" @model={{model}}>Start Editing</LinkTo>
    </div>
  </div>
</Tray>