{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
<div class="create-new">
  {{!-- Left edge --}}
  <div class="create-new--left-edge">
    {{!-- Profile sidebar --}}
    <div class="create-new--left-edge--profile">
      <div class="profile icon"></div>
      <div class="settings icon active"></div>
      <div class="search icon"></div>
    </div>
    {{!-- Catalog fields list --}}
    <div class="create-new--left-edge--catalog">
      <div class="title">Card Catalog</div>

      {{#animated-beacon name="field"}}
        {{#each this.model.fieldTypes as |field|}}
          <div class="create-new--left-edge--catalog-field">
            <div class="field-icon" style={{css-url "background-image" field.icon}}></div>
            <div class="field-content">
              <div class="field-content--title">{{field.title}}</div>
              <div class="field-content--description">{{field.description}}</div>
              <button {{action "toggleDetailView" field}} class="field-content--info-icon"></button>
            </div>
          </div>
        {{/each}}
      {{/animated-beacon}}
    </div>
  </div>

  {{!-- Field detail view --}}
  {{#animated-if this.displayDetailView use=this.transition}}
    <div class="catalog-field-preview">
      <div class="catalog-field-preview--boxel-container">
        <div class="create-new--left-edge--catalog-field">
          <div class="field-icon" style={{css-url "background-image" this.selectedField.icon}}></div>
          <div class="field-content">
            <div class="field-content--title">{{this.selectedField.title}}</div>
            <div class="field-content--description">{{this.selectedField.description}}</div>
          </div>
        </div>
      </div>
      <div class="catalog-field-preview--info-panel">
        <button {{action "hideDetailView"}} class="catalog-field-preview--close-button">x</button>
        <div>
          <div class="catalog-field-preview--info-panel-title">{{this.selectedField.title}}</div>
        </div>

        <div class="catalog-field-preview--info-panel-data">
          <div>This is a {{this.selectedField.title}}...</div>
        </div>

        <div class="catalog-field-preview--footer">
          <button>Start Editing</button>
          <button>Save to Library</button>
        </div>
      </div>
    </div>
  {{/animated-if}}

  {{#let this.model.sampleEvent as |card|}}
    {{#animated-value this.displayDetailView use=this.backgroundTransition}}
      {{!-- Stage --}}
      <div class="create-new--main {{if this.displayDetailView "faded"}}">
        {{!-- Card --}}
        <div class="create-new--card">
          <div class="create-new--card-header">
            <div class="title">{{card.constructor.modelName}} Card</div>
            <button class="done-btn">Done</button>
          </div>

          <div class="create-new--card--field-box">
            <div class="handle-icon"></div>
            <div class="field-data">
              <div class="field-data--type">Text Field</div>
              <div class="field-data--content">
                <BoxelField @value={{card.title}} @fieldName="title" @label="Event name" @model={{card}} @mode="edit" />
              </div>
            </div>
            <button class="remove-btn">Remove</button>
          </div>

          <div class="create-new--card--field-box">
            <div class="handle-icon"></div>
            <div class="field-data">
              <div class="field-data--type">CTA</div>
              <div class="field-data--content">
                <BoxelField @componentName="cta" @fieldName="cta" @label="RSVP" @model={{card}} @mode="edit" />
              </div>
            </div>
            <button class="remove-btn">Remove</button>
          </div>

          <div class="create-new--card--field-box">
            <div class="handle-icon"></div>
            <div class="field-data">
              <div class="field-data--type">Text Field</div>
              <div class="field-data--content">
                <BoxelField @value={{card.location}} @fieldName="location" @label="Location" @model={{card}} @mode="edit" />
              </div>
            </div>
            <button class="remove-btn">Remove</button>
          </div>
        </div>
      </div>

      {{!-- Right edge --}}
      <div class="create-new--right-edge {{if this.displayDetailView "faded"}}">
        <div class="title">{{card.type}} Card</div>
        <div>
          <label>Card ID</label>
          <input readonly value={{card.id}}>
        </div>
      </div>
    {{/animated-value}}
  {{/let}}
</div>