<Tray @expanded={{true}}>
  <div class="catalog-item catalog-item--isolated catalog-item--isolated--edit ">
    <TextField @value={{model.title}} @label="Title" /><br>
    <TextField @value={{model.description}} @label="Description" /><br>
    <TextArea @value={{model.body}} @label="Body" /><br>
    <Cta @handleClick={{action save}}>Save</Cta>
  </div>
</Tray>