<section>
  <h2 class="card-catalog--grid-title">Content Creation</h2>
  <p class="card-catalog--grid-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <div class="card-catalog--grid">
    {{#each model as |item|}}
      <Tray>
        <article class="catalog-item" role="button" {{action "preview" item.constructor.modelName}}>
          <div class="catalog-item--boxel-container">
            <AnimatedContainer>
              <Boxel @name="{{item.constructor.modelName}}-{{item.id}}" @content={{item}} @format="thumbnail" />
            </AnimatedContainer>
          </div>
          <section class="catalog-item--info-panel">
            <h3 class="catalog-item--title">{{item.constructor.modelName}} template</h3>
            <div class="catalog-item--sub-title">By Felix Erland</div>
          </section>
        </article>
      </Tray>
    {{/each}}
  </div>
</section>