<Tray @expanded={{true}}>
  <div class="catalog-item catalog-item--isolated catalog-item--isolated--preview">
    <div class="catalog-item--preview">
      <AnimatedContainer>
        {{#animated-value model use=transition duration="700" as |m|}}
          <Boxel @content={{m}} @variant="small" />
        {{/animated-value}}
      </AnimatedContainer>
    </div>
    <div class="catalog-item--info">
      <h2>{{model.title}}</h2>
      <div class="catalog-item--author-name">{{model.author.fullName}}</div>
      <h3>{{model.description}}</h3>
      <p>{{model.body}}</p>
      <button {{action "editModel" model.constructor.modelName}} class="catalog-item--button-edit">Start Editing</button>
    </div>
  </div>
</Tray>