<div class={{cn
    "card-space-new"
    card-space-new--logged-in=this.cardstackSession.isAuthenticated
  }}
  {{did-insert (fn this.updateEdges)}}
  data-test-card-space-new
  ...attributes
>
  <Boxel::LayoutContainer
    @displayTools={{this.cardstackSession.isAuthenticated}}
    @selectAction={{this.toggleSelect}}
    @isSelected={{this.isSelected}}
    data-test-card-space-layout-container
  >
    <div class="data-test-card-space-layout__grid">
      <div></div>
      <div></div>
    </div>
  </Boxel::LayoutContainer>
</div>