<header class="catalog tools-header">
  <button {{action "preview"}} class="btn-preview" data-test-tools-button-preview>Preview</button>
  <button {{action "save"}} class="btn-preview" data-test-tools-button-save>Save</button>
</header>

<div class="tools-edit">
  <Article @name="{{this.model.constructor.modelName}}-new" class="tools-edit--boxel">
    <div class="tools-edit--image-container">
      {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
      <div class="tools-edit--image" style={{this.backgroundImageUrl}} />
    </div>
    <div class="tools-edit--fields-container">
      <BoxelField @value={{this.model.title}} @fieldName="title" @label="Title" @model={{this.model}} @mode="edit" />
      <BoxelField @value={{this.model.description}} @fieldName="description" @label="Description" @model={{this.model}} @mode="edit" />
      <BoxelField @value={{this.model.body}} @fieldName="body" @label="Body" @model={{this.model}} @mode="edit" />
    </div>
  </Article>
</div>