<header class="tools-header">
  <button {{on "click" this.preview}} class="btn-preview" data-test-tools-button-preview>Preview</button>
  <button {{on "click" this.save}} class="btn-preview" data-test-tools-button-save>Save</button>
</header>

<div class="tools-edit">
  <Boxel @name="{{model.constructor.modelName}}-new" class="tools-edit--boxel">
    <div class="tools-edit--image-container">
      {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
      <div class="tools-edit--image" style={{backgroundImageUrl}} />
    </div>
    <div class="tools-edit--fields-container">
      <TextField @value={{model.title}} @label="Title" /><br>
      <TextField @value={{model.description}} @label="Description" /><br>
      <TextArea @value={{model.body}} @label="Body" /><br>
    </div>
  </Boxel>
</div>