<header class="tools-header">
  <button {{action "preview"}} class="btn-preview" data-test-tools-button-preview>Preview</button>
  <button {{action "save"}} class="btn-preview" data-test-tools-button-save>Save</button>
</header>

<div class="tools-edit">
  <Boxel @name="{{model.constructor.modelName}}-new" class="tools-edit--boxel">
    <div class="tools-edit--image-container">
      {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
      <div class="tools-edit--image" style={{backgroundImageUrl}} />
    </div>
    <div class="tools-edit--fields-container">
      <Boxel @component={{component "text-field" value=model.title label="Title"}} />
      <Boxel @component={{component "text-field" value=model.description label="Description"}} />
      <Boxel @component={{component "text-area" value=model.body label="Body"}} />
    </div>
  </Boxel>
</div>