<Tray @expanded={{true}}>
  <Boxel @name={{concat model.constructor.modelName "-new"}}>
    <div class="catalog-item catalog-item--isolated catalog-item--isolated--edit ">
      {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
      <div class="catalog-item--isolated--image-url" style={{backgroundImageUrl}}></div>
      <TextField @value={{model.title}} @label="Title" /><br>
      <TextField @value={{model.description}} @label="Description" /><br>
      <TextArea @value={{model.body}} @label="Body" /><br>
      <Cta @handleClick={{action save}}>Save</Cta>
    </div>
  </Boxel>
</Tray>