<div class="cardflow__taskbar-overlay">
  <div class="cardflow__taskbar-overlay-header">
    <LinkTo @route="workflow.org.thread">Close</LinkTo>
  </div>
  <div class="cardflow__taskbar-scroll-container">
    <Tasklist
      @tableHeaders={{this.tasklistCols}}
      @userTasks={{this.userTasks}}
      @assignedTasks={{this.assignedTasks}}
      @completedTasks={{this.completedTasks}}
      @now={{this.now}}
    />
  </div>
</div>