<li
  class={{cn "sort-menu-item" sort-menu-item__active=@isSelected}}
  role="button"
  data-test-boxel-sort-menu-item-column={{@column.name}}
  data-test-boxel-sort-menu-item-direction={{@direction}}
  ...attributes
>
  {{@column.name}}
  <span>
    {{#if (eq @column.sortType "numeric")}}
      {{#if (eq @direction "asc")}}
        1 {{svg-jar "arrow-right"}} 9
      {{else}}
        9 {{svg-jar "arrow-right"}} 1
      {{/if}}
    {{else}}
      {{#if (eq @direction "asc")}}
        A {{svg-jar "arrow-right"}} Z
      {{else}}
        Z {{svg-jar "arrow-right"}} A
      {{/if}}
    {{/if}}
  </span>
</li>
