<div class="boxel-wave-player">
  <Boxel::IconButton
    onclick={{perform this.playPause}}
    class="boxel-wave-player__play {{if this.isPlaying "boxel-wave-player--is-playing"}}"
    @icon={{if this.isPlaying "pause-btn" "play-btn"}}
    @width="30px"
    @height="30px"
  />
  <canvas
    {{did-insert this.setupPlayer}}
    role="button"
    width={{this.width}} height={{this.height}} style={{html-safe this.style}}
    onclick={{this.canvasClick}}
  >
  </canvas>

  <div class="boxel-wave-player__times">
    {{media-duration this.currentTime}} / {{media-duration this.duration}}
  </div>
</div>