<div
  class="selection-control-group"
  data-test-boxel-selection-control-group={{if
    @isSelected
    "selected"
    (if @selectedItemCount "partial" "none")
  }}
>
  <Boxel::SelectButton
    @class="selection-control-group__select-button"
    @mode={{@mode}}
    @isPartial={{@selectedItemCount}}
    @isSelected={{@isSelected}}
    data-test-boxel-selection-control-group-toggle
    {{on "click" @toggleSelectAll}}
  />
  <div
    class={{cn
      'selection-control-group__select-all'
      selection-control-group__select-all--selected-items=@selectedItemCount
    }}
  >
    {{#if @selectedItemCount}}
      {{svg-jar 'check-mark' width='9px' height='7px'}}
      {{@selectedItemCount}}
      selected
      {{#if @menuComponent}}
        <Boxel::DropdownButton
          @button="more-actions"
          @icon="more-actions"
          class="selection-control-group__menu-trigger" as |Menu dd|
        >
          {{component
            @menuComponent
            closeMenu=dd.actions.close
            class='selection-control-group__more-menu'
          }}
        </Boxel::DropdownButton>
      {{/if}}
    {{else}}
      Select all
    {{/if}}
  </div>
</div>