<DetailTemplate>
  <Breadcrumbs>
    {{#if this.work.masterDetail}}
      <LinkTo @route="media-registry.version" @models={{array this.work.masterDetail.id this.work.version}} @class="breadcrumbs__item">
        <div class="breadcrumbs__item-label">Master Detail</div>
        <div class="breadcrumbs__item-title">{{this.work.masterDetail.title}}</div>
      </LinkTo>
    {{/if}}
  </Breadcrumbs>

  <DetailCard
    @headerFields={{this.headerFields}}
    @fields={{this.isolatedFields}}
    @source={{this.work.source}}
    @label="Musical Work"
    @mode="view"
  >
    <BoxelActions
      @class="media-collection__btn-overlay"
      @displayHighlightActions={{true}}
      @btnLeft="mode-btn"
      @btnLeftContent="Edit"
      @btnRight="settings"
    />
  </DetailCard>
</DetailTemplate>