{{#animated-value "form-cards-index-route" initialInsertion=true finalRemoval=true use=this.wait}}
  <div class="form-cards-page">
    <AnimatedContainer>
      {{#animated-value "form-cards-index-route-inner" initialInsertion=true finalRemoval=true use=this.backgroundTransition}}
        <div class="form-cards-list">
          {{#animated-each model key="id" watch="expanded" group="moving-box" use=this.boxTransition as |card|}}
            <Boxel @name="boxel-{{card.id}}" @formCards={{true}}
              class="form-card form-card-{{card.id}} {{if card.selected "focused"}} {{if this.expandedCards.length "expanded"}}"
              role="button" onclick={{action "edit" card}}>
            </Boxel>
          {{/animated-each}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>
{{/animated-value}}