<FreestyleAnnotation @slug="org-switcher-button">
  <div>
    @isSelected (Boolean) Shows button in selected state
    <input
      type="checkbox"
      checked={{this.isSelected}}
      {{on 'input' (pick 'target.checked' (fn (mut this.isSelected)))}}
    /> ({{this.isSelected}})
  </div>
  <div>
    @org (Object) The organization model
  </div>
</FreestyleAnnotation>

<FreestyleUsage @slug="org-switcher-button">
  <Doc::DemoStage @width="80px" @paddingX="0px" @bg="boxel-purple-800">
    <Boxel::OrgSwitcher::Button
      @org={{hash
        id="foo"
        iconURL=this.wmgLogo
      }}
      @isSelected={{this.isSelected}}
    />
  </Doc::DemoStage>
</FreestyleUsage>
