<article
  class={{cn "prepaid-card" boxel--dark-theme=@darkTheme}}
  style={{css-var header-color=this.headerColor}}
>
  <header class="prepaid-card__header">
    <div>
      <div>Issued by</div>
      <div class="prepaid-card__name">{{or @issuerName "Enter name"}}</div>
    </div>
    <div>
      <div class="prepaid-card__address">{{this.shortAddress}}</div>
      <div>on {{@accountNetwork}}</div>
    </div>
  </header>
  <section class="prepaid-card__content">
    <div>
      <div class="prepaid-card__balance-label">Face Value</div>
      <div class="prepaid-card__balance"><span>ยง{{@balance}}</span> SPEND</div>
      <div class="prepaid-card__usd-balance">${{this.usdBalance}} USD</div>
    </div>
    <div class="prepaid-card__content-rs">
      <div class="prepaid-card__logo" />
      <div class="prepaid-card__attributes">
        <div>Reloadable</div>
        <div>Transferable</div>
      </div>
    </div>
  </section>
</article>