 <aside class="media-registry__left-edge with-queue">
  <LeftEdgeNav @orgs={{@model.orgs}} @current={{@model.id}} @mediaRegistry={{true}} />
  {{#each @model.orgs as |org|}}
    <IconButton {{on "click" (fn this.transition org)}} class="media-registry__hover-zone media-registry__hover-zone--{{org.id}}" />
  {{/each}}
  <div class="media-registry__left-edge-queue slide-in">
    <CardflowQueue
      @class="media-registry__queue"
      @model={{this.model.currentOrg}}
      @currentMilestone={{this.currentMilestone}}
      @updateProgress={{this.updateProgress}}
    />
  </div>
</aside>

<div class="media-registry__outlet">
  <Cardflow
    @model={{@model}}
    @org={{this.model.currentOrg}}
    @actionSteps={{this.actionSteps}}
    @milestones={{this.milestones}}
    @currentMilestone={{this.currentMilestone}}
    @updateProgress={{this.updateProgress}}
    @projectTitle={{this.projectTitle}}
    @isolatedCatalog={{this.isolatedCollection}}
    @catalog={{this.catalog}}
    @setItemId={{this.setItemId}}
    @itemId={{this.itemId}}
    @item={{this.record}}
    @album={{this.album}}
    @transitionToProduct={{this.transitionToProduct}}
    @transitionToCatalog={{this.transitionToCatalog}}
  />
</div>