{{!-- Breadcrumbs --}}

<MediaCollection @model={{@model}} as |item|>
  <LinkTo class="collection" @route="media-registry.item" @model={{dasherize (trim item.song_title)}}>
    <div>
      <div class="collection__img" style={{css-url "background-image" (concat "/media-registry/covers/" item.cover_art)}} />
      <h3>{{item.song_title}}</h3>
      <div>{{item.artist}}</div>
    </div>
  </LinkTo>
</MediaCollection>