<div class="master-collection__wrapper">
  <MediaCollection @model={{@model}} @mode="view" @sort={{this.sort}} @transition={{this.selectOrTransition}} @removeItem={{this.removeItem}} as |item|>
    <Boxel @class="master-collection__boxel boxel-card">
      <BoxelHighlight {{on "click" (fn this.selectOrTransition item)}} @class="master-collection__highlighter" @on={{item.selected}} />
      <button {{on "click" (fn this.togglePin item)}} class="master-collection__pin-btn {{if item.pinned "pinned"}}" aria-label="pin">{{svg-jar "pin" width="22px" height="22px"}}</button>
      <SelectButton
        {{on "click" (fn this.toggleSelect item)}}
        @isSelected={{item.selected}}
        @class="master-collection__select-btn {{if item.selected "master-collection__select-btn--selected"}}"
      />
      <div class="master-collection">
        <h3 class="master-collection__title">{{item.catalog_title}}</h3>
        <div class="master-collection__desc">{{item.catalog_description}}</div>
        <div class="master-collection__covers" />
        <div class="master-collection__count">
          <div class="master-collection__num">{{item.number_of_songs}}</div>
          <div>Songs</div>
        </div>
      </div>
    </Boxel>
  </MediaCollection>
</div>

{{outlet}}