{{#if (eq this.target.currentRouteName "media-registry.item.versions")}}
  {{outlet}}
{{else}}
  <DetailTemplate>
    {{!-- Breadcrumbs --}}
    <Boxel::Breadcrumbs>
      <LinkTo @route="media-registry" @model={{@model.owner_id}} @query={{hash version=@model.version}} @class="boxel-breadcrumbs__item">
        <div class="boxel-breadcrumbs__item-label">Collection</div>
        <div class="boxel-breadcrumbs__item-title">Master Recordings</div>
      </LinkTo>
    </Boxel::Breadcrumbs>

    <MusicDetailCard
      @mode="view"
      @model={{@model}}
      @displayFullHeader={{true}}
    />
  </DetailTemplate>
{{/if}}