<div class="collection-modal">
  <div class="collection-scroll-container">
    <div role="button" {{on "click" this.closeModal}} class="collection-modal-overlay" />
    <CollectionIsolated
      @model={{@model}}
      @format={{this.format}}
      @changeFormat={{action this.changeFormat}}
      @close={{action this.closeModal}}
    />
  </div>
</div>