<BoxelModal @onClose={{this.transitionToView}}>
  <header class="item-edit__sticky-header">
    <div>
      <h1 class="item-edit__title">{{humanize @model.song_title}}</h1>
      <h2 class="item-edit__description">Original Recording</h2>
    </div>
    <button {{on "click" this.transitionToView}} class="item-edit__mode-btn mode-indicator mode-indicator--edit">
      Edit mode
    </button>
  </header>

  <div class="item-edit__scroll-container">
    <div class="item-edit__body-plate">
      <MusicDetailCard
        @mode="edit"
        @model={{@model}}
        @itemId={{this.itemId}}
        @expandAction={{this.transitionToMusicalWork}}
      >
      </MusicDetailCard>
    </div>
  </div>
</BoxelModal>