<div class="cards-page">
  <AnimatedContainer class="cards-list triplet">
    {{#animated-each this.model use=this.cardTransition watch="expanded" as |card|}}
      <div class="card {{if card.expanded "expanded" "thumbnail"}} {{if (and (not card.expanded) this.expandedCards.length) "faded"}} card-{{card.id}}" role="button" onclick={{action "toggle" card.id}} >
        <div class="card-contents">
          {{#animated-value card group=(concat "inner-" card.id) watch="expanded" use=this.titleTransition}}
            <div class="card-title {{if card.expanded "expanded"}}">
              {{card.title}}
            </div>
          {{/animated-value}}
        </div>
      </div>
    {{/animated-each}}
  </AnimatedContainer>
</div>