<h1>Boxel Demo</h1>

<ul>
  <li>{{link-to "Catalog" "catalog"}}</li>
  <li>{{link-to "Cards" "cards"}}</li>
  <li>{{link-to "Form Cards" "form-cards"}}</li>
  <li>{{link-to "Edit Card" "edit-demo"}}</li>
  <li>{{link-to "Field types" "field-types-demo"}}</li>
  <li>{{link-to "Animate Input Text" "animate-input"}}</li>
  <li>{{link-to "Image Cards" "image-cards"}}</li>
</ul>
