{{#if (or (eq this.target.currentRouteName "media-registry.versions") (eq (truncate this.target.currentRouteName 40 false) "media-registry.discrepancies.discrepancy"))}}
  {{outlet}}
{{else}}
  <section class="media-registry media-registry--{{@model.currentOrg.id}}">
    {{#if (eq this.target.currentRouteName "media-registry.cardflow")}}
      {{outlet}}
    {{else}}
      <aside class="media-registry__left-edge {{if this.isQueueFixed "with-queue"}}">
        <LeftEdgeNav @orgs={{@model.orgs}} @current={{@model.currentOrg.id}} @currentRouteName={{this.target.currentRouteName}} />
        {{#each @model.orgs as |org|}}
          {{#if org.user}}
            <IconButton {{on "mouseover" (fn this.setOrg org)}} {{on "click" (fn this.transition org.id)}} class="media-registry__hover-zone media-registry__hover-zone--{{org.id}}" />
          {{/if}}
        {{/each}}
        {{#if this.org.user}}
          <div class="media-registry__left-edge-queue {{if this.isQueueFixed "slide-in"}}">
            <IconButton @icon={{if this.isQueueFixed "arrow-left" "sidebar"}} @class="media-registry__queue-btn" {{on "click" (action (mut this.isQueueFixed) (not this.isQueueFixed))}} @aria-label="Toggle fix cardflow queue" />
            <CardflowQueue
              @class="media-registry__queue {{if (and (not this.isQueueFixed) (not-eq this.target.currentRouteName "media-registry.cardflow")) "with-box-shadow"}}"
              @model={{@model.currentOrg}}
              @currentMilestone={{this.latestMilestone}}
            />
          </div>
        {{/if}}
      </aside>
      <OrgHeader
        @org={{@model.currentOrg}}
        @id={{@model.currentOrg.id}}
        @title={{@model.currentOrg.title}}
        @logoURL={{@model.currentOrg.logoURL}}
      />
      {{#if this.org.user}}
        <div class="media-registry__outlet" role="button" {{on "mouseover" (fn this.setOrg @model.currentOrg)}}>
          {{outlet}}
        </div>
      {{else}}
        <div class="media-registry__outlet">
          {{outlet}}
        </div>
      {{/if}}
    {{/if}}
  </section>
{{/if}}