{{#if (or (eq this.target.currentRouteName "media-registry.versions") (eq (truncate this.target.currentRouteName 28 false) "media-registry.discrepancies"))}}
  {{outlet}}
{{else}}
  <section class="media-registry media-registry--{{@model.id}}">
    {{#if (eq this.target.currentRouteName "media-registry.cardflow")}}
      {{outlet}}
    {{else}}
      <aside class="media-registry__left-edge {{if this.isQueueFixed "with-queue"}}">
        <LeftEdgeNav @orgs={{@model.orgs}} @current={{@model.id}} @currentRouteName={{this.target.currentRouteName}} />
        {{#each @model.orgs as |org|}}
          <IconButton {{on "mouseover" (fn this.setOrg org)}} {{on "click" (fn this.transition org.id)}} class="media-registry__hover-zone media-registry__hover-zone--{{org.id}}" />
        {{/each}}
        <div class="media-registry__left-edge-queue {{if this.isQueueFixed "slide-in"}}">
          <IconButton @icon={{if this.isQueueFixed "arrow-left" "sidebar"}} @class="media-registry__queue-btn" {{on "click" (action (mut this.isQueueFixed) (not this.isQueueFixed))}} @aria-label="Toggle fix cardflow queue" />
          <CardflowQueue
            @class="media-registry__queue {{if (and (not this.isQueueFixed) (not-eq this.target.currentRouteName "media-registry.cardflow")) "with-box-shadow"}}"
            @model={{this.org}}
            @currentMilestone={{this.latestMilestone}}
          />
        </div>
      </aside>
      <header class="media-registry__header media-registry__header--sm">
        <h1 class="media-registry__title">
          <span class="media-registry__logo" style={{css-url "background-image" @model.logoURL}} />
          <span>{{@model.company}}</span>
        </h1>
        <input class="media-registry__search-bar" type="search" placeholder="Search" />
        <nav class="media-registry__nav">
          <ul>
            <li><LinkTo @class={{if (eq this.target.currentRouteName "media-registry.agreements") "unselected" "active"}} @route="media-registry" @model={{@model.id}}>Masters</LinkTo></li>
            <li><LinkTo @route="media-registry.agreements" @model={{@model.id}}>Agreements</LinkTo></li>
          </ul>
        </nav>
      </header>

      <div class="media-registry__outlet" role="button" {{on "mouseover" (fn this.setOrg @model)}}>
        {{outlet}}
      </div>
    {{/if}}
  </section>
{{/if}}