<div class="tic-tac-toe-page">
  <div class="tic-tac-toe-pieces">
    <AnimatedContainer class="pieces-container">
      {{#animated-value pieceX use=dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-piece" role="button" draggable="true" onmousedown={{action beginDragging piece}}>
          {{piece.symbol}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
    <AnimatedContainer class="pieces-container">
      {{#animated-value pieceO use=dragTransition duration=200 watch="dragState" as |piece|}}
        <div class="tic-tac-toe-piece" role="button" draggable="true" onmousedown={{action beginDragging piece}}>
          {{piece.symbol}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>
  <div class="tic-tac-toe-board {{if isDragging "dragging"}}">
    {{#each-in ticTacToeCells as |cellName cellValue|}}
      <div class="cell-tray {{if cellValue.length "" "draggable"}} {{if (eq this.activeCell cellName) "active"}}" role="button" ondrop={{action dropPiece}} ondragover={{action foo}} ondragenter={{action setActiveCell cellName}} ondragleave={{action setActiveCell null}}>
        <AnimatedContainer class="tic-tac-toe-cell {{concat "cell-" cellName}}">
          {{#animated-each cellValue use=dragTransition duration=200 as |piece|}}
            <div class="tic-tac-toe-piece">
              {{piece.symbol}}
            </div>
          {{/animated-each}}
        </AnimatedContainer>
      </div>
    {{/each-in}}
  </div>
</div>