<BoxelModal @onClose={{@onClose}} @class="boxel-thread-modal {{if this.expanded "boxel-thread-modal--full-width"}}">
  {{!-- OnClick actions on ThreadMessage and MilestoneBanner are temporarily added for demo's sake. --}}
  <Boxel::Thread class="boxel-thread-modal__inner">
    <:header>
      <Boxel::ThreadHeader
        @title={{@model.workflow.title}}
        @toggleExpand={{this.toggleExpand}}
        @expanded={{this.expanded}}
      />
    </:header>

    <:content>
      <Boxel::DateDivider @date={{this.startTimestamp}} />
      {{#each @model.workflow.milestones as |milestone i|}}
        {{#if (and (lte i this.progress) milestone.message)}}
          <Boxel::ThreadMessage
            @contents={{milestone.message}}
            @datetime={{milestone.datetime}}
            @senderImage={{milestone.sender}}
            @hasLogo={{true}}
            {{on "click" (fn (mut milestone.complete) true)}}
          />

          <AnimatedContainer onInitialRender={{true}}>
            {{#animated-if milestone.complete initialInsertion=true use=this.bannerTransition}}
              <Boxel::MilestoneBanner @title={{milestone.statusOnCompletion}} {{on "click" this.updateProgress}} />
            {{/animated-if}}
          </AnimatedContainer>
        {{/if}}
      {{/each}}
    </:content>

    <:sidebar as |SidebarSection|>
      <SidebarSection>
        <Boxel::Sidebar::CardContainer
          @header={{if @model.workflow.title (html-safe (concat "Workflow:<br>" @model.workflow.title)) "Workflow Progress"}}
          @attachNext={{true}}
        >
          <div>
            <Boxel::ProgressCircle
              @percentComplete={{percent-complete total=@model.workflow.milestones.length completed=this.progress}}
            />
          </div>
          <div class="boxel-thread-modal__milestone-progress-status">
            {{this.progressStatus}}
          </div>
        </Boxel::Sidebar::CardContainer>

        <Boxel::Sidebar::CardContainer @header="Milestones">
          <Boxel::Milestones
            @milestones={{@model.workflow.milestones}}
            @completedCount={{this.progress}}
          />
        </Boxel::Sidebar::CardContainer>
      </SidebarSection>

      <SidebarSection>
        <Boxel::HelpBox />
      </SidebarSection>

      <SidebarSection>
        <Boxel::Sidebar::CardContainer
          @header="Participants"
          @attachNext={{true}}
        >
          <Boxel::ParticipantList
            @fullWidth={{true}}
            @participants={{@model.participants}}
          />
        </Boxel::Sidebar::CardContainer>

        <Boxel::Sidebar::CardContainer>
          <Boxel::ParticipantList
            @fullWidth={{true}}
            @participants={{@model.orgRepresentatives}}
          />
          <Boxel::AddParticipantButton
            {{on "click" (optional this.addParticipant)}}
          />
        </Boxel::Sidebar::CardContainer>
      </SidebarSection>
    </:sidebar>
  </Boxel::Thread>
</BoxelModal>