<div
  class="boxel-progress-circle"
  style={{html-safe (concat "width:" this.size "px;height:" this.size "px;")}}
  ...attributes
>
  <div
    class="boxel-progress-circle__pie"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width={{this.size}} height={{this.size}} viewBox="0 0 {{this.outerCircleDiameter}} {{this.outerCircleDiameter}}">
      <g stroke-width="{{this.progressArcThickness}}">
        <circle 
          cx={{this.outerCircleRadius}} 
          cy={{this.outerCircleRadius}}  
          r={{this.strokeCircleRadius}} 
          class="boxel-progress-circle__background-circle"
        />
        <circle 
          cx={{this.outerCircleRadius}} 
          cy={{this.outerCircleRadius}}  
          r={{this.strokeCircleRadius}} 
          class="boxel-progress-circle__indicator-circle"
          style={{this.pieStyle}}
        />
      </g>
    </svg>
  </div>
  <div
    class="boxel-progress-circle__pct-label"
    style={{html-safe (concat "font-size:" this.fontSize "px;width:" this.percentLabelDiameter "px; height:" this.percentLabelDiameter "px;")}}
  >
    {{this.humanPercentComplete}}%
  </div>
</div>
