<Freestyle::Usage @name="Button">
  <:example>
    <div class={{cn usage-button-dark-mode-background=(eq this.kind "secondary-dark")}}>
      <Boxel::Button
        @kind={{this.kind}}
        @size={{this.size}}
        @disabled={{this.disabled}}
        {{on "click" this.alert}}
      >
        Button Text
      </Boxel::Button>
    </div>
  </:example>
  <:api as |Args|>
    <Args.String
      @name="kind"
      @optional={{true}}
      @description="Controls the colors of the button"
      @defaultValue={{"secondary-light"}}
      @options={{this.kindVariants.all}}
      @onInput={{fn (mut this.kind)}}
      @value={{this.kind}}
    />
    <Args.String
      @name="size"
      @optional={{true}}
      @description="Controls the size of the button"
      @defaultValue={{"base"}}
      @options={{this.sizeVariants}}
      @onInput={{fn (mut this.size)}}
      @value={{this.size}}
    />
    <Args.Bool
      @name="disabled"
      @optional={{true}}
      @description="Controls whether the button is disabled"
      @onInput={{fn (mut this.disabled)}}
      @value={{this.disabled}}
    />
    <Args.Yield @description="Contents of the button" />
  </:api>
</Freestyle::Usage>
<Freestyle::Usage @name="Button" @description="Light mode">
  <:example>
    <table>
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.kindVariants.light as |kind|}}
              <td>
                <Boxel::Button @kind={{kind}} @size={{size}}>
                  {{kind}}
                </Boxel::Button>
              </td>
            {{/each}}
            <td>
              <Boxel::Button
                @size={{size}}
                @disabled={{true}}
              >
                disabled
              </Boxel::Button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:example>
</Freestyle::Usage>
<Freestyle::Usage @name="Button" @description="Dark mode">
  <:example>
    <table class="usage-button-dark-mode-background">
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.kindVariants.dark as |kind|}}
              <td>
                <Boxel::Button @kind={{kind}} @size={{size}}>
                  {{kind}}
                </Boxel::Button>
              </td>
            {{/each}}
            <td>
              <Boxel::Button
                @size={{size}}
                @disabled={{true}}
              >
                disabled
              </Boxel::Button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:example>
</Freestyle::Usage>