<article
  class={{cn
    "boxel-action-container"
    boxel-action-container--is-complete=@isComplete
  }}
  ...attributes
>
  <Boxel::Header class="boxel-action-container__header">
    {{@header}}

    <Boxel::IconButton
      class="boxel-action-container__expand-button"
      @icon="expand"
      aria-label="Expand card"
    />
  </Boxel::Header>

  {{#if @prompt}}
    <p class="boxel-action-container__prompt">
      {{@prompt}}
    </p>
  {{/if}}

  {{yield}}

  <Boxel::ActionChin
    class="boxel-action-container__footer"
    @mode={{if @isComplete "memorialized" "data-entry"}}
    @buttonText={{if @isComplete @completeActionLabel @incompleteActionLabel}}
    @onClickButton={{@onClickButton}}
    @disabled={{@disabled}}
  />
</article>