<article class={{cn "action-container" action-container--is-complete=@isComplete}}
  ...attributes
>
  <Boxel::Header class="action-container__header">
    {{@header}}

    <Boxel::IconButton
      class="action-container__expand-button"
      @icon="expand"
      aria-label="Expand card"
    />
  </Boxel::Header>

  <section class="action-container__content">
    {{#if @prompt}}
      <p class="action-container__prompt">
        {{@prompt}}
      </p>
    {{/if}}

    {{yield}}
  </section>

  <Boxel::ActionChin
    class="action-container__footer"
    @mode={{if @isComplete 'memorialized' 'data-entry'}}
    @buttonText={{if @isComplete @completeActionLabel @incompleteActionLabel}}
    @onClickButton={{@onClickButton}}
    @disabled={{@disabled}}
  />
</article>