<FreestyleAnnotation @slug="left-edge-nav-selectable-button">
  <div>
    @isSelected (Boolean) Shows button in selected state
    <input
      type="checkbox"
      checked={{this.isSelected}}
      {{on 'input' (pick 'target.checked' (fn (mut this.isSelected)))}}
    /> ({{this.isSelected}})
  </div>
  <div>yields for the contents of the button</div>
</FreestyleAnnotation>

<FreestyleUsage @slug="left-edge-nav-selectable-button">
  <Doc::DemoStage @width="80px" @paddingX="0px" @bg="boxel-purple-800">
    <Boxel::LeftEdgeNav::SelectableButton
      @isSelected={{this.isSelected}}
    >
      <div
        class={{cn "boxel-org-switcher-button__logo" (concat "boxel-org-switcher-button__logo--" @org.id)}}
        style={{css-url "background-image" '/media-registry/wmg-logo.svg'}}
      />
    </Boxel::LeftEdgeNav::SelectableButton>
  </Doc::DemoStage>
</FreestyleUsage>
